@import "tailwindcss";

@import "./base.css";
@import "./dark.css";

@import "./components/animation.css";
@import "./components/breadcrumb.css";
@import "./components/counts.css";
@import "./components/filters.css";
@import "./components/batch_actions.css";
@import "./components/markdown.css";
@import "./components/pagination.css";
@import "./components/panel.css";
@import "./components/scopes.css";
@import "./components/status_tag.css";
@import "./components/table.css";
@import "./components/tabs_nav.css";
@import "./components/formtastic.css";
@import "./components/mail_preview.css";

@import "./components/buttons.css";
@import "./components/trix.css";
@import "./components/codejar.css";

@import "./components/members.css";
@import "./components/kbd.css";
@import "./components/search.css";
@import "./components/flatpickr.css";
@import "./components/segmented_control.css";
