<% depot = @order.depot %>

<div class="mt-12">
  <h2 class="font-medium text-gray-700 dark:text-gray-300">
    <span><%= "#{Depot.model_name.human}:" %></span>

    <span class="ml-2"><%= depot_map_link(depot) %></span>
  </h2>

  <% if depot&.public_note? %>
    <div class="mt-2"><%= depot.public_note %></div>
  <% end %>
</div>
