ul.billing {
  li {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    padding: $small-spacing / 2 0;

    &:nth-child(odd) {
      background-color: #f6f6f6;
    }

    @media screen and (min-width: 900px) {
      flex-wrap: nowrap;
    }

    span.date {
      flex-basis: auto;
      order: 2;

      @media screen and (min-width: 900px) {
        flex-basis: 6em;
        order: 1;
      }
    }

    span.info {
      order: 1;
      flex-basis: 100%;

      @media screen and (min-width: 900px) {
        order: 2;
        flex-basis: auto;
      }
    }

    span.file {
      order: 3;
      margin-left: $small-spacing;
    }

    span.amount {
      order: 4;
      flex-grow: 2;
      text-align: right;
    }

    &.canceled span {
      text-decoration: line-through;
    }
  }
}
