header {
  display: inline-block;
  width: 100%;
  margin-top: $base-spacing;

  .logo {
    float: left;

    img {
      height: 100px;
    }
  }

  .contact {
    float: right;
    width: 150px;

    i {
      width: 20px;
      margin-left: 5px;
    }

    a {
      color: $base-font-color;
      width: 100%;
      float: right;
      text-align: right;
      margin-bottom: 5px;
      &:hover {
        color: $dark-green;
      }
    }
  }
}

footer {
  width: 100%;
  text-align: center;

  position: sticky;
  top: 100%;

  p {
    display: inline-block;
    margin-top: $base-spacing * 4;
    padding: $small-spacing $small-spacing * 2;
    border-top: 1px dotted $light-gray;

    width: auto;
    a {
      color: $light-gray;
    }
  }
}
