body {
  display: flex;
  flex-direction: column;
  height: 100vh;

  #body-wrapper {
    flex: 1 0 auto;
  }
}

header {
  flex: none;
  display: inline-block;
  width: 100%;
  margin-top: $base-spacing;

  .logo {
    float: left;

    img {
      height: 100px;
    }
  }

  .links {
    float: right;
    width: 150px;

    i {
      width: 20px;
      margin-left: 5px;
    }

    a {
      color: $base-font-color;
      width: 100%;
      float: right;
      text-align: right;
      margin-bottom: 5px;
      &:hover {
        color: $dark-green;
      }
    }

    .logout a {
      margin-bottom: $small-spacing;
    }
  }
}

footer {
  flex: none;
  text-align: center;
  margin: $base-spacing * 4 auto 0 auto;
  padding-bottom: $base-spacing;

  a,
  p,
  li {
    color: $light-gray;
    margin: 0;
  }

  ul.locales li {
    color: $light-gray;
    list-style-type: none;
    display: inline;
    &:not(:first-child):before {
      content: " / ";
    }
  }
}
