{
  "plugins": ["prettier-plugin-tailwindcss", "prettier-plugin-eruby"],
  "tailwindStylesheet": "./app/assets/tailwind/application.css",
  "semi": false,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "none",
  "overrides": [
    {
      "files": ["*.js"],
      "options": {
        "parser": "babel"
      }
    },
    {
      "files": ["*.css"],
      "options": {
        "parser": "css"
      }
    },
    {
      "files": "*.html.erb",
      "options": {
        "parser": "eruby-parse"
      }
    }
  ]
}
