<p>Die Verschiebung Ihrer Tasche während Ihrer Abwesenheit wurde erfolgreich registriert:</p>

{% highlight_list %}
  <strong>Neues Lieferdatum:</strong> {{ basket_shift.new_delivery_date }}
{% endhighlight_list %}

<p>Sie können Ihre Lieferungen jederzeit über Ihre Mitgliederseite einsehen.</p>

{% button member.page_url %}
  Zu meiner Mitgliederseite
{% endbutton %}
