<p>Your basket shift during your absence has been successfully registered:</p>

{% highlight_list %}
  <strong>New delivery date:</strong> {{ basket_shift.new_delivery_date }}
{% endhighlight_list %}

<p>You can view your deliveries at any time from your member page.</p>

{% button member.page_url %}
  Access my member page
{% endbutton %}
