<p>Uw pakketverschuiving tijdens uw afwezigheid is succesvol geregistreerd:</p>

{% highlight_list %}
  <strong>Nieuwe leveringsdatum:</strong> {{ basket_shift.new_delivery_date }}
{% endhighlight_list %}

<p>U kunt uw leveringen op elk moment bekijken vanaf uw ledenpagina.</p>

{% button member.page_url %}
  Toegang tot mijn ledenpagina
{% endbutton %}
