<p>Le déplacement de votre panier durant votre absence a bien été enregistré:</p>

{% highlight_list %}
  <strong>Nouvelle date de livraison:</strong> {{ basket_shift.new_delivery_date }}
{% endhighlight_list %}

<p>Vous pouvez consulter à tout moment vos livraisons depuis votre page de membre.</p>

{% button member.page_url %}
  Accéder à ma page de membre
{% endbutton %}
