<p>Lo spostamento del suo cestino durante la sua assenza è stato registrato con successo:</p>

{% highlight_list %}
  <strong>Nuova data di consegna:</strong> {{ basket_shift.new_delivery_date }}
{% endhighlight_list %}

<p>Può consultare le sue consegne in qualsiasi momento dalla sua pagina membro.</p>

{% button member.page_url %}
  Accedi alla mia pagina membro
{% endbutton %}
