<p>Questo è il vostro penultimo cestino di prova.</p>

<p>Se desiderate annullare il vostro abbonamento, potete farlo dal vostro account prima della fine del periodo di prova.</p>

{% button member.memberships_url %}
  Visualizza il mio abbonamento
{% endbutton %}
