<p>Heute ist der Liefertag Ihrer allerersten Tasche!</p>

<p>Sie können jederzeit auf Ihre Mitgliederseite zugreifen, um Ihre kommenden Lieferungen einzusehen oder Ihre Abwesenheiten zu verwalten.</p>

{% button member.page_url %}
  Zugang zu meiner Mitgliederseite
{% endbutton %}
