<p>Oggi è il giorno della consegna del vostro primo cestino dell'anno.</p>

<p>Potete consultare il calendario delle consegne e gestire le vostre assenze dalla vostra pagina di socio.</p>

{% button member.page_url %}
  Accedere alla mia pagina di socio
{% endbutton %}
