<p>Oggi è il giorno di consegna del vostro ultimo cestino dell'anno.</p>

<p>Grazie per il vostro abbonamento in questa stagione. Non vediamo l'ora di rivedervi l'anno prossimo!</p>

{% button member.page_url %}
  Accedere alla mia pagina di socio
{% endbutton %}
