<p>Vandaag is de laatste dag van uw proefperiode.</p>

<p>Uw lidmaatschap wordt automatisch voortgezet tot het einde van het boekjaar. Als u wilt opzeggen, kunt u dit doen via uw lidmaatschapspagina vóór uw volgende levering.</p>

{% button member.memberships_url %}
  Mijn lidmaatschap bekijken
{% endbutton %}
