<p>C'est le jour de livraison de votre premier panier de l'année.</p>

<p>Vous pouvez consulter votre calendrier de livraisons et gérer vos absences depuis votre page de membre.</p>

{% button member.page_url %}
  Accéder à ma page de membre
{% endbutton %}
