<p>Biedronde #{{ bidding_round.number }} is nu open.</p>

{{ bidding_round.information_text }}

<p>U kunt uw bod voor het komende jaar direct vanaf uw account uitbrengen.</p>

{% button member.memberships_url %}
  Breng uw bod uit
{% endbutton %}
