<p>Le tour d'engagement n°{{ bidding_round.number }} est maintenant ouvert.</p>

{{ bidding_round.information_text }}

<p>Vous pouvez fixer votre montant pour l'année à venir directement depuis votre compte.</p>

{% button member.memberships_url %}
  Fixer mon montant
{% endbutton %}
