<p>Bidding round #{{ bidding_round.number }} did not reach its target.</p>

{% if bidding_round_pledge.basket_size_price %}
  <p>You pledged {{ bidding_round_pledge.basket_size_price }} per basket.</p>
{% else %}
  <p>You didn't make a pledge.</p>
{% endif %}

<p>You can review the details of your membership at any time.</p>

{% button member.memberships_url %}
  Review your membership
{% endbutton %}
