<p>Erinnerung: Die Beitragsrunde Nr. {{ bidding_round.number }} ist noch offen.</p>

{{ bidding_round.information_text }}

<p>Es wurde noch kein Beitrag zugesagt. Es dauert nur eine Minute, den Beitrag jetzt festzulegen.</p>

{% button member.memberships_url %}
  Beitrag festlegen
{% endbutton %}
