<p>Die Beitragsrunde Nr. {{ bidding_round.number }} hat ihr Ziel nicht erreicht.</p>

{% if bidding_round_pledge.basket_size_price %}
  <p>Die Zusage betrug {{ bidding_round_pledge.basket_size_price }} pro Tasche.</p>
{% else %}
  <p>Es wurde kein Betrag zugesagt.</p>
{% endif %}

<p>Die Details der Mitgliedschaft können jederzeit eingesehen werden.</p>

{% button member.memberships_url %}
  Mitgliedschaft ansehen
{% endbutton %}
