<p>Il turno di impegno n°{{ bidding_round.number }} è ora aperto.</p>

{{ bidding_round.information_text }}

<p>Potete fissare il vostro importo per il prossimo anno direttamente dal vostro account.</p>

{% button member.memberships_url %}
  Imposta il mio importo
{% endbutton %}
