<p>Die Beitragsrunde Nr. {{ bidding_round.number }} wurde erfolgreich abgeschlossen.</p>

{% if bidding_round_pledge.basket_size_price %}
  <p>Vielen Dank für die Zusage von {{ bidding_round_pledge.basket_size_price }} pro Tasche. Dieser Betrag wurde verwendet, um den Beitrag pro Tasche zu aktualisieren.</p>
{% else %}
  <p>Es wurde kein Betrag zugesagt, daher wurde der Richtwert pro Tasche ({{ membership.basket_size.price }}) angewendet.</p>
{% endif %}

<p>Die Details der Mitgliedschaft können jederzeit eingesehen werden.</p>

{% button member.memberships_url %}
  Mitgliedschaft ansehen
{% endbutton %}
