<p>Herinnering: biedronde #{{ bidding_round.number }} is nog steeds open.</p>

{{ bidding_round.information_text }}

<p>U heeft nog geen bod uitgebracht. Het duurt slechts een minuut om uw bod nu in te stellen.</p>

{% button member.memberships_url %}
  Breng uw bod uit
{% endbutton %}
