<p>Bidding round #{{ bidding_round.number }} is now open.</p>

{{ bidding_round.information_text }}

<p>You can make your pledge for the coming year directly from your account.</p>

{% button member.memberships_url %}
  Make your pledge
{% endbutton %}
