<p>Die Bietrunde Nr. {{ bidding_round.number }} ist jetzt geöffnet.</p>

{{ bidding_round.information_text }}

<p>Sie können Ihren Betrag für das kommende Jahr direkt in Ihrem Konto festlegen.</p>

{% button member.memberships_url %}
  Betrag festlegen
{% endbutton %}
