{% case invoice.object_type %}
{% when 'Shop::Order' %}
  <p>Ecco la vostra nuova fattura, per il suo ordine N° {{ invoice.object_number }}, tutti i dettagli si trovano nel PDF allegato.</p>
{% else %}
  <p>Ecco la vostra nuova fattura, tutti i dettagli si trovano nel PDF allegato.</p>
{% endcase %}

{% case invoice.state %}
{% when 'closed' %}
  {% highlight %}
    <strong>Tenendo conto dei pagamenti precedenti, questa fattura è considerata pagata e viene inviata solo a titolo informativo.</strong>
  {% endhighlight %}
{% when 'open' %}
  {% if invoice.only_partially_paid %}
    {% highlight %}
      <strong>Tenendo conto dei pagamenti precedenti, il montante che deve essere ancora pagato è di: {{ invoice.missing_amount }}</strong>
    {% endhighlight %}
  {% endif %}
{% endcase %}

<p>Grazie!</p>

{% unless member.billing_email %}
<p>In qualsiasi momento, dalla pagina di socio, potete consultare le vostre fatture e i vostri pagamenti.</p>

{% button member.billing_url %}
  Accedere alla mia pagina di socio
{% endbutton %}
{% endunless %}
