<p>Salvo errori o omissioni da parte nostra, il pagamento della fattura #{{ invoice.number }} datata {{ invoice.date }} non ci è parvenuto completamene.</p>

{% highlight %}
  <strong>Il montante che deve essere ancora pagato è di: {{ invoice.missing_amount }}</strong>
{% endhighlight %}

<p>Vi preghiamo gentilmente di procedere al pagamento il più presto possibile e per praticità vi inviamo in allegato un duplicato della fattura in questione.</p>
<p>Se il vostro pagamento nel frattempo è già stato eseguito vi chidiamo di non considerare questo richiamo.</p>
<p>Vi ringraziamo anticipatamente per il vostro prossimo pagamento e rimaniamo a vostra disposizione per qualsiasi domanda.</p>

<p>In qualsiasi momento, dalla pagina di socio, potete consultare le vostre fatture e i vostri pagamenti.</p>

{% button member.billing_url %}
  Accedere alla mia pagina di socio
{% endbutton %}
