<p><%= t(".invoice_cancelled_paragraph") %></p>

<p><%= t(".contact_paragraph") %></p>

{% unless member.billing_email %}
  <p><%= t(".view_billing_paragraph") %></p>

  {% button member.billing_url %}
    <%= t(".member_page_button") %>
  {% endbutton %}
{% endunless %}
