{% case invoice.object_type %}
{% when 'Shop::Order' %}
  <p>Hier finden Sie Ihre neue Rechnung, für Ihre Bestellnummer {{ invoice.object_number }}, Details finden Sie im angehängten PDF.</p>
{% else %}
  <p>Hier finden Sie Ihre neue Rechnung, Details finden Sie im angehängten PDF.</p>
{% endcase %}

{% case invoice.state %}
{% when 'closed' %}
  {% highlight %}
    <strong>Unter Berücksichtigung der bisherigen Einzahlungen gilt diese Rechnung als bezahlt und wird nur informativ geschickt.</strong>
  {% endhighlight %}
{% when 'open' %}
  {% if invoice.only_partially_paid %}
    {% highlight %}
      <strong>Unter Berücksichtigung der bisherigen Einzahlungen muss der restliche Betrag von {{ invoice_missing.amount }} noch beglichen werden.</strong>
    {% endhighlight %}
  {% endif %}
{% endcase %}

<p>Danke schön!</p>

{% unless member.billing_email %}
  <p>Schauen Sie Ihre Rechnungen und Einzahlungen auf Ihrer Mitgliederseite nach.</p>

  {% button member.billing_url %}
    Zugang zu meiner Mitgliederseite
  {% endbutton %}
{% endunless %}
