<p>Voici votre nouvelle facture, tous les détails se trouvent dans le PDF ci-joint.</p>

{% case invoice.state %}
{% when 'closed' %}
  {% highlight %}
    <strong>En tenant compte des paiements précédents, cette facture est considérée comme payée et est envoyée uniquement à titre d'information.</strong>
  {% endhighlight %}
{% when 'open' %}
  {% if invoice.overdue_notices_count > 0 %}
    {% highlight %}
      <strong>En tenant compte des paiements précédents, le montant restant à payer est de: {{ invoice.missing_amount }}</strong>
    {% endhighlight %}
  {% endif %}
{% endcase %}

<p>Merci!</p>

<p>Vous pouvez consultez à tout moment vos factures et paiements depuis votre page de membre.</p>

{% button member.billing_url %}
  Accéder à ma page de membre
{% endbutton %}
