<p>Sauf erreur ou omission de notre part, le paiement de la facture #{{ invoice.number }} datée du {{ invoice.date }} ne nous est pas complètement parvenu.</p>

{% highlight %}
  <strong>Le montant restant à payer est de: {{ invoice.missing_amount }}</strong>
{% endhighlight %}

<p>Nous vous prions de bien vouloir procéder à son règlement dans les meilleurs délais, et vous adressons, à toutes fins utiles, un duplicata de cette facture en pièce jointe.</p>
<p>Si votre paiement s'est croisé avec ce rappel, nous vous saurions gré de ne pas en tenir compte.</p>
<p>Nous vous remercions par avance pour votre prochain règlement, et restons à votre entière disposition pour toute question.</p>

{% unless member.billing_email %}
<p>Vous pouvez consultez à tout moment vos factures et paiements depuis votre page de membre.</p>

{% button member.billing_url %}
  Accéder à ma page de membre
{% endbutton %}
{% endunless %}
