<p>We hebben uw antwoord op het lidmaatschapsvernieuwingsformulier nog niet ontvangen.</p>

<p>Gelieve ons uw intenties voor het komende jaar te laten weten door het onderstaande formulier in te vullen.</p>

{% button member.membership_renewal_url %}
  Toegang tot het vernieuwingsformulier
{% endbutton %}
