<p>Non abbiamo ancora ricevuto la vostra risposta al modulo di rinnovo dell'abbonamento.</p>

<p>Vi preghiamo di comunicarci le vostre intenzioni per l'anno a venire compilando il modulo sottostante.</p>

{% button member.membership_renewal_url %}
  Accedere al formulario di rinnovo
{% endbutton %}
