<p>Vandaag is de leveringsdag van uw eerste pakket van het jaar.</p>

<p>U kunt uw leveringsschema bekijken en uw afwezigheden beheren via uw ledenpagina.</p>

{% button member.page_url %}
  Toegang tot mijn ledenpagina
{% endbutton %}
