<p>Heute ist der letzte Tag Ihrer Probezeit.</p>

<p>Ihr Abonnement wird automatisch bis zum Ende des Geschäftsjahres fortgesetzt. Wenn Sie kündigen möchten, können Sie dies über Ihre Abonnementseite vor Ihrer nächsten Lieferung tun.</p>

{% button member.memberships_url %}
  Mein Abonnement ansehen
{% endbutton %}
