<p>Today is the day of your last basket of the year.</p>

<p>Thank you for your membership this season. We look forward to seeing you again next year!</p>

{% button member.page_url %}
  Access my member page
{% endbutton %}
