<p>EDIT ME!</p>

<p>Thank you for signing up! We will contact you in the next few days with the necessary information!</p>

{% highlight %}
  Waiting list position: <strong>{{ waiting_list_position }}</strong>
{% endhighlight %}

{% button member.page_url %}
  Access my member page
{% endbutton %}
