<p>Vandaag is de leveringsdag van uw allereerste pakket!</p>

<p>U kunt op elk moment uw ledenpagina raadplegen om uw komende leveringen te bekijken of uw afwezigheden te beheren.</p>

{% button member.page_url %}
  Toegang tot mijn ledenpagina
{% endbutton %}
