<p>Ceci est votre avant-dernier panier à l'essai.</p>

<p>Si vous souhaitez annuler votre abonnement, vous pouvez le faire depuis votre compte avant la fin de la période d'essai.</p>

{% button member.memberships_url %}
  Voir mon abonnement
{% endbutton %}
