<p>Het is tijd om ons te laten weten wat uw plannen zijn voor volgend jaar.</p>

<p>Vul het verlengingsformulier in om te bevestigen of u uw lidmaatschap wilt voortzetten of niet.</p>

{% button member.membership_renewal_url %}
  Toegang tot het vernieuwingsformulier
{% endbutton %}
