<p>BEWERK MIJ!</p>

<p>Het is de dag van uw voorlaatste proefpakket...</p>

<p>Als u uw lidmaatschap niet wilt voortzetten, kunt u het rechtstreeks vanaf uw account annuleren.</p>

{% button member.memberships_url %}
  Mijn lidmaatschap bekijken
{% endbutton %}
