<p>Merci pour votre inscription!</p>

<p>Votre inscription a bien été reçue et validée.</p>

{% highlight %}
  Position sur la liste d'attente: <strong>{{ waiting_list_position }}</strong>
{% endhighlight %}

<p>Nous vous contacterons prochainement avec plus d'informations sur les prochaines étapes.</p>

{% button member.page_url %}
  Accéder à ma page de membre
{% endbutton %}
