<p>Vielen Dank f체r Ihre Anmeldung!</p>

<p>Ihre Anmeldung wurde erhalten und best채tigt.</p>

{% highlight %}
  Position auf der Warteliste: <strong>{{ waiting_list_position }}</strong>
{% endhighlight %}

<p>Wir werden uns in K체rze mit weiteren Informationen zu den n채chsten Schritten bei Ihnen melden.</p>

{% button member.page_url %}
  Zugang zu meiner Mitgliederseite
{% endbutton %}
