<p>EDITEZ-MOI!</p>

<p>Merci pour ton inscription! Nous te contacterons dans les prochains jours avec les informations nécessaires!</p>

{% highlight %}
  Position sur la liste d'attente: <strong>{{ waiting_list_position }}</strong>
{% endhighlight %}

{% button member.page_url %}
  Accéder à ma page de membre
{% endbutton %}
