<p>Wir haben Ihre Antwort auf das Formular zur Abonnementsverl채ngerung noch nicht erhalten.</p>

<p>Bitte teilen Sie uns Ihre Absichten f체r das kommende Jahr mit, indem Sie das untenstehende Formular ausf체llen.</p>

{% button member.membership_renewal_url %}
  Zugang zum Verl채ngerungsformular
{% endbutton %}
