<p>We haven't received your response to the membership renewal form yet.</p>

<p>Please let us know your intentions for the coming year by completing the form below.</p>

{% button member.membership_renewal_url %}
  Access the renewal form
{% endbutton %}
