<p>Bedankt voor uw registratie!</p>

<p>Uw registratie is ontvangen en bevestigd.</p>

{% highlight %}
  Wachtlijstpositie: <strong>{{ waiting_list_position }}</strong>
{% endhighlight %}

<p>Wij nemen binnenkort contact met u op met meer informatie over de volgende stappen.</p>

{% button member.page_url %}
  Toegang tot mijn ledenpagina
{% endbutton %}
