<p>Heute ist der Liefertag Ihrer letzten Tasche des Jahres.</p>

<p>Vielen Dank für Ihr Abonnement in dieser Saison. Wir freuen uns darauf, Sie nächstes Jahr wiederzusehen!</p>

{% button member.page_url %}
  Zugang zu meiner Mitgliederseite
{% endbutton %}
