<p>EDITEZ-MOI!</p>

<p>C'est le jour de votre avant-dernier panier à l'essai...</p>

<p>Si vous souhaitez annuler votre abonnement, vous pouvez le faire directement depuis votre compte.</p>

{% button member.memberships_url %}
  Voir mon abonnement
{% endbutton %}
