<p>È il momento di comunicarci le vostre intenzioni per il prossimo anno.</p>

<p>Vi preghiamo di compilare il modulo di rinnovo per confermare se desiderate continuare o meno.</p>

{% button member.membership_renewal_url %}
  Accedere al formulario di rinnovo
{% endbutton %}
