<p>COMPILAMI!</p>

<p>È il giorno del tuo penultimo cestino di prova...</p>

<p>Se desideri annullare il tuo abbonamento, puoi farlo direttamente dalla tua pagina abbonamento.</p>

{% button member.memberships_url %}
  Visualizza il mio abbonamento
{% endbutton %}
