<p>MICH BEARBEITEN!</p>

<p>Danke für deine Anmeldung! Es freut uns, dass Du du bei TaPatate! mitmachen willst! In den nächsten Tagen melden wir uns mit den nötigen Infos bei dir!</p>

{% highlight %}
  Position auf der Warteliste: <strong>{{ waiting_list_position }}</strong>
{% endhighlight %}

{% button member.page_url %}
  Zugang zu meiner Mitgliederseite
{% endbutton %}
