<p>Aujourd'hui est le dernier jour de votre période d'essai.</p>

<p>Votre abonnement se poursuivra automatiquement jusqu'à la fin de l'année fiscale. Si vous souhaitez annuler, vous pouvez le faire depuis votre page d'abonnement avant votre prochaine livraison.</p>

{% button member.memberships_url %}
  Voir mon abonnement
{% endbutton %}
