<p>BEWERK MIJ!</p>

<p>Het is de dag van uw laatste proefpakket...</p>

<p>Als u uw lidmaatschap niet wilt voortzetten, kunt u het rechtstreeks annuleren via uw ledenaccount.</p>

{% button member.memberships_url %}
  Bekijk mijn lidmaatschap
{% endbutton %}
