<p>Today is the delivery day of your first basket of the year.</p>

<p>You can view your delivery schedule and manage your absences from your member page.</p>

{% button member.page_url %}
  Access my member page
{% endbutton %}
