<p>Today is the last day of your trial period.</p>

<p>Your membership will automatically continue until the end of the fiscal year. If you wish to cancel, you can do so from your membership page before your next delivery.</p>

{% button member.memberships_url %}
  Access my membership
{% endbutton %}
