<p>It's time to let us know about your membership for next year.</p>

<p>Please fill out the renewal form to confirm whether you'd like to continue or not.</p>

{% button member.membership_renewal_url %}
  Access the renewal form
{% endbutton %}
