<p>Heute ist der Liefertag Ihrer letzten Tasche.</p>

<p>Wir möchten uns herzlich bei Ihnen für Ihre Mitgliedschaft bedanken. Wir hoffen, dass Ihre Erfahrung positiv war.</p>

<p>Sollten Sie in Zukunft erneut abonnieren wollen, können Sie sich gerne bei uns melden.</p>

{% button member.page_url %}
  Zugang zu meiner Mitgliederseite
{% endbutton %}
