<p>C'est le jour de votre dernier panier de l'année.</p>

<p>Merci pour votre abonnement cette saison. Au plaisir de vous retrouver l'année prochaine!</p>

{% button member.page_url %}
  Accéder à ma page de membre
{% endbutton %}
