<p>C'est le jour de livraison de votre tout dernier panier.</p>

<p>Nous tenons à vous remercier d'avoir été membre. Nous espérons que votre expérience a été positive.</p>

<p>Si vous souhaitez vous réabonner à l'avenir, n'hésitez pas à nous contacter.</p>

{% button member.page_url %}
  Accéder à ma page de membre
{% endbutton %}
