<p>Vandaag is de leveringsdag van uw laatste pakket.</p>

<p>Wij willen u bedanken voor uw lidmaatschap. We hopen dat uw ervaring positief was.</p>

<p>Mocht u zich in de toekomst opnieuw willen abonneren, neem dan gerust contact met ons op.</p>

{% button member.page_url %}
  Toegang tot mijn ledenpagina
{% endbutton %}
