<p>Thank you for registering!</p>

<p>Your registration has been received and validated.</p>

{% highlight %}
  Waiting list position: <strong>{{ waiting_list_position }}</strong>
{% endhighlight %}

<p>We will contact you with more information about the next steps.</p>

{% button member.page_url %}
  Access my member page
{% endbutton %}
