<p>BEWERK MIJ!</p>

<p>Bedankt voor uw aanmelding! Wij nemen binnen enkele dagen contact met u op met de benodigde informatie!</p>

{% highlight %}
  Wachtlijstpositie: <strong>{{ waiting_list_position }}</strong>
{% endhighlight %}

{% button member.page_url %}
  Toegang tot mijn ledenpagina
{% endbutton %}
