<p>Today is the delivery day of your final basket.</p>

<p>We wanted to thank you for having been a member. We hope your experience was a positive one.</p>

<p>If you ever wish to subscribe again in the future, don't hesitate to get in touch.</p>

{% button member.page_url %}
  Access my member page
{% endbutton %}
