<p>Dies ist Ihre vorletzte Probetasche.</p>

<p>Wenn Sie Ihr Abonnement kündigen möchten, können Sie dies vor Ende der Probezeit über Ihr Konto tun.</p>

{% button member.memberships_url %}
  Mein Abonnement ansehen
{% endbutton %}
