<p>C'est le jour de votre tout premier panier!</p>

<p>Vous pouvez accéder à votre page de membre à tout moment pour consulter vos prochaines livraisons ou gérer vos absences.</p>

{% button member.page_url %}
  Accéder à ma page de membre
{% endbutton %}
