<p>Heute ist der Liefertag Ihrer ersten Tasche des Jahres.</p>

<p>Sie können Ihren Lieferplan einsehen und Ihre Abwesenheiten über Ihre Mitgliederseite verwalten.</p>

{% button member.page_url %}
  Zugang zu meiner Mitgliederseite
{% endbutton %}
