<p>MICH BEARBEITEN!</p>

<p>Es ist der Tag Ihrer vorletzten Probetasche...</p>

<p>Wenn Sie Ihr Abonnement nicht fortsetzen möchten, können Sie es direkt von Ihrer Abonnementseite aus kündigen.</p>

{% button member.memberships_url %}
  Mein Abonnement ansehen
{% endbutton %}
