<p>Es ist Zeit, uns Ihre Absichten für das nächste Jahr mitzuteilen.</p>

<p>Bitte füllen Sie das Verlängerungsformular aus, um zu bestätigen, ob Sie Ihr Abonnement fortsetzen möchten oder nicht.</p>

{% button member.membership_renewal_url %}
  Zugang zum Verlängerungsformular
{% endbutton %}
