<p>Oggi è l'ultimo giorno del vostro periodo di prova.</p>

<p>Il vostro abbonamento continuerà automaticamente fino alla fine dell'anno fiscale. Se desiderate annullare, potete farlo dalla vostra pagina abbonamento prima della prossima consegna.</p>

{% button member.memberships_url %}
  Visualizza il mio abbonamento
{% endbutton %}
