<p>Today is the day of your very first basket!</p>

<p>You can access your member page at any time to view your upcoming deliveries or manage your absences.</p>

{% button member.page_url %}
  Access my member page
{% endbutton %}
