<p>Grazie per la vostra iscrizione!</p>

<p>La vostra iscrizione è stata ricevuta e confermata.</p>

{% highlight %}
  Posizione sulla lista d'attesa: <strong>{{ waiting_list_position }}</strong>
{% endhighlight %}

<p>Vi contatteremo presto con maggiori informazioni sui prossimi passi.</p>

{% button member.page_url %}
  Accedere alla mia pagina di socio
{% endbutton %}
