<p>COMPILAMI!</p>

<p>Grazie per la vostra iscrizione! Vi contatteremo nei prossimi giorni per trasmettervi le informazioni necessarie!</p>

{% highlight %}
  Posizione sulla lista d'attesa: <strong>{{ waiting_list_position }}</strong>
{% endhighlight %}

{% button member.page_url %}
  Accedere alla mia pagina di socio
{% endbutton %}
