<p>Dit is uw voorlaatste proefpakket.</p>

<p>Als u uw lidmaatschap wilt annuleren, kunt u dit doen via uw account vóór het einde van de proefperiode.</p>

{% button member.memberships_url %}
  Mijn lidmaatschap bekijken
{% endbutton %}
