<p>Oggi è il giorno di consegna del vostro ultimo cestino.</p>

<p>Desideriamo ringraziarvi per essere stati soci. Speriamo che la vostra esperienza sia stata positiva.</p>

<p>Se in futuro desiderate abbonarvi nuovamente, non esitate a contattarci.</p>

{% button member.page_url %}
  Accedere alla mia pagina di socio
{% endbutton %}
