<p>C'est le moment de nous informer de vos intentions pour l'année prochaine.</p>

<p>Veuillez remplir le formulaire de renouvellement pour confirmer si vous souhaitez continuer ou non.</p>

{% button member.membership_renewal_url %}
  Accéder au formulaire de renouvellement
{% endbutton %}
