<p>Vandaag is de leveringsdag van uw laatste pakket van het jaar.</p>

<p>Bedankt voor uw lidmaatschap dit seizoen. We kijken ernaar uit u volgend jaar weer te zien!</p>

{% button member.page_url %}
  Toegang tot mijn ledenpagina
{% endbutton %}
