<p>Oggi è il giorno della consegna del vostro primo cestino!</p>

<p>Potete accedere alla vostra pagina di socio in qualsiasi momento per consultare le prossime consegne o gestire le vostre assenze.</p>

{% button member.page_url %}
  Accedere alla mia pagina di socio
{% endbutton %}
