<p>Nous n'avons pas encore reçu votre réponse au formulaire de renouvellement d'abonnement.</p>

<p>Merci de nous faire part de vos intentions pour l'année à venir en complétant le formulaire ci-dessous.</p>

{% button member.membership_renewal_url %}
  Accéder au formulaire de renouvellement
{% endbutton %}
