@import 'members/variables';

.flatpickr-calendar.inline {
  box-shadow: none !important;
  // Handle iPhone S3
  margin: 0 0 $base-spacing $base-spacing * -0.85;
  @media screen and (min-width: 350px) {
    margin: 0 0 $base-spacing;
  }

  &:before {
    content: none;
  }

  &:after {
    content: none;
  }

  .flatpickr-days {
    border: 0 !important;

    .dayContainer {
      border: 0 !important;
      margin: $small-spacing 0;
    }
  }

  .flatpickr-day {
    margin: 2px 0;
  }

  .flatpickr-day:not(.disabled) {
    background: $light-gray !important;
    border-color: $light-gray !important;

    &:not(.selected):hover {
      background: $medium-gray !important;
      border-color: $medium-gray !important;
    }
  }

  .flatpickr-day.selected {
    background: $green !important;
    border-color: $green !important;
  }
}

.flatpickr-day.selected,
.flatpickr-month,
.flatpickr-weekday,
.flatpickr-weekdays {
  background: $green !important;
  border-color: $green !important;
}