@import 'members/variables';

a {
  color: $green;
  text-decoration: none;

  &:hover {
    color: $dark-green;
  }
}

p {
  line-height: $base-line-height;
  margin: 0 0 $base-spacing / 3 0;
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: $small-spacing / 2;

  &.title {
    text-transform: capitalize;
  }
}

button,
input,
select,
textarea {
  display: inline-block;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  font-weight: 400;
  font-size: $base-font-size;
  border-radius: $base-border-radius;
  padding: 10px;
  background-color: white;
  border: 1px solid $light-gray;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
}

button,
input,
textarea {
  width: calc(100% - 22px);
  @media screen and (min-width: 900px) {
    width: 60%;
  }
}

input.date-input {
  width: calc(100% - 22px);
  @media screen and (min-width: 900px) {
    width: 150px;
  }
}

input[type='submit'],
button[type='submit'] {
  color: white;
  border: solid 2px $green;
  padding: 9px;
  background-color: $green;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  font-weight: 600;
  cursor: pointer;
  width: 100%;

  &:hover {
    border-color: $dark-green;
    background-color: $dark-green;
  }

  &:disabled {
    cursor: not-allowed;
    border-color: $medium-gray;
    background-color: $medium-gray;
  }
  @media screen and (min-width: 900px) {
    width: 150px;
  }
}

ol,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: $base-line-height;

  a.cancel {
    margin-left: $small-spacing;
    border-radius: $base-border-radius;
    border: solid 1px $green;
    padding: $small-spacing / 6 $small-spacing / 2;
    background-color: white;

    &:hover {
      border-color: $dark-green;
    }
  }

  li.rejected {
    text-decoration: line-through;
    font-style: italic;
  }

  li.error {
    color: $red;
  }
}

ul.errors {
  margin-top: $small-spacing;
  padding: $small-spacing;
  border: 2px solid $red;
  border-radius: $base-border-radius;
  font-weight: 700;
  color: $red;
}

h1 {
  font-size: $base-font-size * 2;
  line-height: $heading-line-height;
}

h2 {
  font-size: $base-font-size * 1.3;
  line-height: $heading-line-height;
  margin: $base-spacing * 1.5 0 $small-spacing;
}

h3 {
  font-size: $base-font-size * 1.1;
  line-height: $heading-line-height;
  margin: 0 0 $base-spacing;
}

h4 {
  font-size: $base-font-size * 1;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing / 2;
}

table {
  td {
    line-height: 1.2em;
    height: 2em;
  }
}

.welcome {
  margin-top: $base-spacing;
  display: inline-block;
  background: #e6efc2;
  text-align: center;
  border-radius: $base-border-radius;

  p {
    margin: $base-spacing;

    &.link {
      font-style: italic;
    }

    a {
      white-space: nowrap;
    }
  }
}

svg {
  fill: currentColor;
}

.map_link svg {
  margin: 0 -2px -2px $small-spacing / 2;
}
@import 'members/body';
@import 'members/flashes';
@import 'members/sessions';
@import 'members/deliveries';
@import 'members/activities';
@import 'members/billing';
@import 'members/absences';
@import 'members/calendar';
@import 'members/tooltip';
@import 'members/labels';
@import 'members/formtastic';
@import 'members/pretty_inputs';