<% if Current.org.shop_terms_of_sale_url %>
  <div class="mt-24 text-center text-sm text-gray-400 dark:text-gray-500">
    <%= link_to t("members.shop.terms_of_sale"), Current.org.shop_terms_of_sale_url, target: "_blank", class: "underline " %>
  </div>
<% end %>
