.calendar {
  // position: absolute;
  width: 360px;
  height: 435px;
  // left: 50%;
  // top: 50%;
  margin-top: 1em;
  // margin: -145px 0px 0px -140px;
  background: #fff;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
}
.ui-datepicker-header {
  height: 50px;
  line-height: 50px;
  margin-bottom: 10px;
  font-size: $base-font-size;
}
.ui-datepicker-prev,
.ui-datepicker-next {
  width: 25px;
  height: 25px;
  text-indent: 9999px;
  border: 2px solid #999;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  cursor: pointer;
  overflow: hidden;
  margin-top: 12px;
}
.ui-datepicker-prev {
  float: left;
  margin-left: 12px;
}
.ui-datepicker-prev:after {
  @include transform(rotate(45deg) scale(2));
  margin: 9px 0px 0px 9px;
}
.ui-datepicker-next {
  float: right;
  margin-right: 12px;
}
.ui-datepicker-next:after {
  @include transform(rotate(-135deg) scale(2));
  margin: -41px 0px 0px 8px;
}
.ui-datepicker-prev:after,
.ui-datepicker-next:after {
  content: '';
  position: absolute;
  display: block;
  width: 4px;
  height: 4px;
  border-left: 2px solid #999;
  border-bottom: 2px solid #999;
}
.ui-datepicker-prev:hover,
.ui-datepicker-next:hover,
.ui-datepicker-prev:hover:after,
.ui-datepicker-next:hover:after {
  border-color: #333;
}
.ui-datepicker-title {
  text-align: center;
  font-weight: bold;
}
.ui-datepicker-calendar {
  width: 100%;
  text-align: center;
}
.ui-datepicker-calendar {
  width: 360px;
}

.ui-datepicker-calendar thead tr th {
  width: 40px;
  height: 40px;
  margin-bottom: 5px;
  font-size: $base-font-size;
}

.ui-datepicker-calendar tr td {
  height: 44px;
  width: 44px;
  line-height: 40px;
  font-size: $base-font-size;
  text-decoration: none;
}

.ui-datepicker-calendar tr td a {
  height: 44px;
  width: 44px;
  border-radius: 44px;
  display: block;
  border: 2px solid transparent;
}

.ui-state-default, .ui-datepicker-unselectable {
  color: #000;
}

.ui-state-default {
  &:hover {
    color: #000;
    border: 2px solid #555;
  }
}

td.available .ui-state-default{
  background: lighten($green, 20);
}

.ui-state-highlight {
  font-weight: bold;
}
.ui-datepicker-calendar a.ui-state-active {
  border: 2px solid black;
}
.ui-datepicker-unselectable .ui-state-default {
  background: none;
  color: #aaa;
  border: 2px solid transparent;
}
