.calendar {
  // position: absolute;
  width: 360px;
  height: 435px;
  // left: 50%;
  // top: 50%;
  margin-top: 1em;
  // margin: -145px 0px 0px -140px;
  background: #fff;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
}
.ui-datepicker-header {
  height: 50px;
  line-height: 50px;
  margin-bottom: 10px;
  font-size: $base-font-size;
}
.ui-datepicker-prev,
.ui-datepicker-next {
  width: 25px;
  height: 25px;
  text-indent: 9999px;
  border: 2px solid #999;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  cursor: pointer;
  overflow: hidden;
  margin-top: 12px;
}
.ui-datepicker-prev {
  float: left;
  margin-left: 12px;
}
.ui-datepicker-prev:after {
  @include transform(rotate(45deg) scale(2));
  margin: 9px 0px 0px 9px;
}
.ui-datepicker-next {
  float: right;
  margin-right: 12px;
}
.ui-datepicker-next:after {
  @include transform(rotate(-135deg) scale(2));
  margin: -41px 0px 0px 8px;
}
.ui-datepicker-prev:after,
.ui-datepicker-next:after {
  content: '';
  position: absolute;
  display: block;
  width: 4px;
  height: 4px;
  border-left: 2px solid #999;
  border-bottom: 2px solid #999;
}
.ui-datepicker-prev:hover,
.ui-datepicker-next:hover,
.ui-datepicker-prev:hover:after,
.ui-datepicker-next:hover:after {
  border-color: #333;
}
.ui-datepicker-title {
  text-align: center;
  font-weight: bold;
}
.ui-datepicker-calendar {
  width: 100%;
  text-align: center;
}
.ui-datepicker-calendar {
  width: 360px;
}

.ui-datepicker-calendar thead tr th {
  width: 40px;
  height: 40px;
  margin-bottom: 5px;
  font-size: $base-font-size;
}

.ui-datepicker-calendar tr td {
  height: 44px;
  width: 44px;
  line-height: 40px;
  font-size: $base-font-size;
  text-decoration: none;
}

.ui-datepicker-calendar tr td a {
  height: 44px;
  width: 44px;
  display: block;
  border: 2px solid transparent;
}

.ui-datepicker-calendar tr td.ampm a {
  border-radius: 44px;
}

.ui-datepicker-calendar tr td.am a {
  height: 22px;
  padding-bottom: 2px;
  line-height: 0px;
  position: absolute;
  border-radius: 0 0 22px 22px;
  border-top: 0;
}

.ui-datepicker-calendar tr td.pm a {
  height: 22px;
  margin-bottom: 22px;
  border-bottom: 0;
  border-radius: 22px 22px 0 0;
}


.ui-state-default, .ui-datepicker-unselectable {
  color: #000;
}

.ui-state-default {
  &:hover {
    color: #000;
    border: 2px solid #555;
  }
}
td.participants-0 .ui-state-default{
  background: lighten($green, 40);
}
td.participants-1 .ui-state-default{
  background: lighten($green, 40/2);
}
td.participants-2 .ui-state-default{
  background: lighten($green, 40/3);
}
td.participants-3 .ui-state-default{
  background: lighten($green, 40/4);
}
td.participants-4 .ui-state-default{
  background: lighten($green, 40/5);
}
td.participants-5 .ui-state-default{
  background: lighten($green, 100/5);
}
td.participants-6 .ui-state-default{
  background: lighten($green, 100/6);
}
td.participants-7 .ui-state-default{
  background: lighten($green, 100/7);
}
td.participants-8 .ui-state-default{
  background: lighten($green, 100/8);
}
td.participants-9 .ui-state-default{
  background: lighten($green, 100/9);
}
td.participants-10 .ui-state-default{
  background: lighten($green, 0);
}

.ui-state-highlight {
  font-weight: bold;
}
.ui-datepicker-calendar a.ui-state-active {
  border: 2px solid black;
}
.ui-datepicker-unselectable .ui-state-default {
  background: none;
  color: #aaa;
  border: 2px solid transparent;
}
