@layer components {
  .markdown {
    /* Updates, Handook */
    h1 {
      @apply mb-2 scroll-mt-20 text-3xl font-light text-gray-900 dark:text-gray-100;
    }

    h2 {
      @apply mb-2 mt-8 scroll-mt-20 text-2xl font-light text-gray-900 dark:text-gray-100;
    }

    h3 {
      @apply mb-2 mt-6 scroll-mt-20 text-lg font-semibold text-gray-900 dark:text-gray-100;
    }

    p {
      @apply py-2 leading-5 text-gray-900 dark:text-gray-100;
    }

    blockquote {
      @apply mt-4 px-4 py-2 text-gray-900 dark:text-gray-100;
      @apply border-l-2 border-yellow-400 bg-yellow-100 dark:border-yellow-600 dark:bg-yellow-900;
    }

    pre {
      @apply mt-4 px-4 py-2;
      @apply border-l-2 border-neutral-400 bg-neutral-100 dark:border-neutral-600 dark:bg-neutral-900;
      @apply overflow-x-auto;

      code {
        @apply text-sm text-gray-900 dark:text-gray-100;
      }
    }

    ul,
    ol {
      @apply list-outside p-4 pt-2;
    }

    ol li {
      @apply mb-2 ms-4 list-decimal leading-5;
    }

    ul li {
      @apply mb-2 ms-4 list-disc leading-5;
    }

    img {
      @apply mx-auto my-2 w-full md:w-2/3;
    }
    img.small {
      @apply mx-auto my-2 w-2/3 md:w-1/3;
    }
    img.tiny {
      @apply mx-auto my-2 w-2/3 md:w-1/4;
    }
    img.icon {
      @apply my-0 -mt-1 me-2 inline w-5;
    }
  }
}
