<% if membership.can_member_cancel_trial? %>
  <div id="trial-cancelation" class="mt-8">
    <h2 class="text-lg font-bold text-gray-900 dark:text-gray-100">
      <%= t(".title") %>
    </h2>

    <% last_trial_basket = membership.baskets.trial.order("deliveries.date").last %>

    <p class="justify mt-2">
      <%= t(".text_html", last_trial_date: l(last_trial_basket.delivery.date)) %>
    </p>

    <div class="actions">
      <%= link_to t(".cancel_link"), new_members_trial_cancelation_path, class: "btn btn-primary" %>
    </div>
  </div>
<% elsif membership.trial? && membership.canceled? %>
  <p class="justify mt-8 italic">
    <% last_trial_basket = membership.baskets.trial.order("deliveries.date").last %>
    <%= t(".canceled_html", last_trial_date: l(last_trial_basket.delivery.date)) %>
  </p>
<% end %>
