<h1><%= Membership.model_name.human %></h1>

<section><%= render @membership %></section>

<section>
  <%= render "trial", membership: @membership %>
  <%= render "renewal", membership: @membership %>
</section>
