<div class="relative h-full w-full" style="height: 987px">
  <div class="absolute inset-0 z-10 flex justify-center pt-16 md:pt-60">
    <%= render "shared/spinner" %>
  </div>

  <% unless invoice.processing? %>
    <%= image_tag invoice.pdf_file.preview(resize_to_limit: [ 2000, 2000 ]), class: "absolute top-0 z-20" %>
  <% end %>
</div>
