<h1 class="mt-12 text-center">
  <span class="block text-6xl md:text-8xl"> 🎉 </span>
  <span class="mt-6 block md:mt-8"><%= t(".title") %></span>
</h1>

<p class="mt-8 text-center text-pretty md:mt-12"><%= t(".text_html") %></p>
<p class="mt-24 text-center md:mt-20"><%= link_to_org_website %></p>
