# Quota di adesione

Questa funzione permette di fatturare automaticamente una quota di adesione, per esempio per ceste/borse riutilizzabili, ai vostri nuovi soci.

Una volta attivata questa funzione aggiuntiva, la descrizione e l'importo della vostra quota di adesione devono essere definiti nelle [vostre impostazioni](/settings#new_member_fee).

> Se stavate già fatturando quote di adesione manualmente ([fattura "Altro"](/handbook/billing#manual-invoice)), vi prego di [contattarmi](/support) in modo che possa occuparmi della loro migrazione, per evitare di fatturare inutilmente due volte queste quote ai vostri soci.

## Fatturazione {#billing}

Il sistema si occupa di fatturare queste quote a ogni nuovo socio nel giorno di fatturazione automatica definito nelle [vostre impostazioni](/settings#billing). Se avete delle [ceste di prova](/handbook/billing#trial-baskets), queste quote saranno fatturate solo alla fine del periodo di prova, se il socio decide di continuare.

È possibile aggiungere un testo specifico nel [template email "Nuova fattura"](/mail_templates/invoice_created) utilizzando [la sintassi Liquid](https://shopify.github.io/liquid) seguente:

~~~ liquid
{% case invoice.entity_type %}
{% when 'NewMemberFee' %}
  <p>Ecco la vostra nuova fattura riguardante la vostra quota di adesione; tutti i dettagli si trovano nel PDF allegato.</p>
{% else %}
  <p>Ecco la vostra nuova fattura; tutti i dettagli si trovano nel PDF allegato.</p>
{% endcase %}
~~~
