# Nieuwlidenbijdrage

Deze functie stelt u in staat om automatisch een nieuwlidenbijdrage te factureren, bijvoorbeeld voor herbruikbare pakketten/tassen, aan uw nieuwe leden.

Zodra deze aanvullende functie is geactiveerd, moeten de beschrijving en het bedrag van uw nieuwlidenbijdrage worden gedefinieerd in [uw instellingen](/settings#new_member_fee).

> Als u al handmatig nieuwlidenbijdragen factureerde (met "Overig" facturen), neem dan [contact met mij op](mailto:info@csa-admin.org) zodat ik de migratie kan regelen, om te voorkomen dat deze bijdragen onnodig twee keer aan uw leden worden gefactureerd.

### Facturering

Het systeem zorgt ervoor dat deze bijdragen aan elk nieuw lid worden gefactureerd op de automatische factureringsdag gedefinieerd in [uw instellingen](/settings#billing). Als u proefpakketten heeft, worden deze bijdragen alleen gefactureerd aan het einde van de proefperiode, als het lid besluit door te gaan.

Het is mogelijk om specifieke tekst toe te voegen in de ["Nieuwe factuur" e-mailsjabloon](/mail_templates/invoice_created) met behulp van [Liquid syntax](https://shopify.github.io/liquid) als volgt:

~~~ liquid
{% case invoice.entity_type %}
{% when 'NewMemberFee' %}
  <p>Hier is uw nieuwe factuur voor uw nieuwlidenbijdrage; alle details zijn te vinden in de bijgevoegde PDF.</p>
{% else %}
  <p>Hier is uw nieuwe factuur; alle details zijn te vinden in de bijgevoegde PDF.</p>
{% endcase %}
~~~
