# Newsletters

En complément [des emails automatiques](/mail_templates) envoyés lors d'événements spécifiques (nouvelle facture, renouvellement, ...), ACP Admin offre également la possibilité d'envoyer [des newsletters (emails groupés)](/newsletters).

Ces newsletters peuvent s'adresser à tous vos membres ou à un groupe spécifique (statut, taille de panier, dépôt, ...).

> Contrairement [aux emails automatiques](/mail_templates), les newsletters sont toujours envoyées manuellement par un admin et elles incluent un lien de désinscription (obligatoire) dans leur bas de page. Pour les utilisateurs de Mailchimp, la liste des désinscriptions est synchronisée avec ACP Admin.

## Templates

Pour faciliter la création de vos newsletters, ACP Admin propose un système sophistiqué de [templates](/newsletter_templates). Ces templates sont des modèles d'email avec des blocs de contenu prédéfinis que vous pouvez créer et modifier selon vos besoins.

Par défaut, [2 templates](/newsletter_templates) sont disponibles:

- <strong>Texte libre</strong>: un template simple avec un seul bloc de contenu sans titre.
- <strong>Prochaine livraison</strong>: un template plus complexe avec plusieurs blocs de contenu, ainsi que des informations dynamiques (contenu panier, prochaine activité, ...).

N'hésitez pas à les dupliquer et à les modifier à votre guise ou en [créer de nouveaux](/newsletter_templates/new).

> Malgré l'envoi "groupé" d'une newsletter, le contenu de chaque email est généré individuellement en fonction des informations de chaque membre (nom, langue, abonnement, ...).

### Blocs de contenu

Chaque template doit contenir au moins un bloc de contenu. Il s'agit d'un bloc de texte libre qui pourra ensuite être modifié lors de la création d'une newsletter. Un bloc dont le contenu sera laissé vide lors de l'édition d'une newsletter sera simplement ignoré.

Chaque bloc est défini avec un identifiant (`id`) unique et optionnellement un titre (`title`) ainsi qu'un contenu par défaut.

Exemple d'un bloc avec un titre et un contenu par défaut:

~~~ liquid
{% content id: "identifiant", title: "Un titre optionnel" %}
  <p>Contenu par défaut optionnel</p>
{% endcontent %}
~~~

## Pièces jointes

Vous pouvez ajouter des pièces jointes à vos newsletters, mais le poids total de ces pièces jointes ne doit pas dépasser 5 Mo.

Si vous souhaitez envoyer des pièces jointes plus lourdes, vous pouvez utiliser un service externe tel que [SwissTransfer](https://www.swisstransfer.com) ou les héberger sur votre site et simplement ajouter un lien vers ces fichiers dans votre newsletter.

## Désinscriptions

Les newsletters envoyées avec ACP Admin incluent un lien de désinscription (obligatoire) dans leur bas de page. Pour les ACP qui utilisent encore Mailchimp, la liste des désinscriptions est synchronisée avec ACP Admin, mais l'inverse n'est pas possible.

Pour les ACP qui n'ont pas (ou plus) la synchronisation avec Mailchimp, un lien de réinscription est présent dans [le compte du membre](<%= members_account_url(subdomain: Current.acp.members_subdomain) %>) en dessous de son adresse email.

![lien de réinscription](<%= image_url('handbook/newsletters/subscribe-back.png') %>){:width="250px"}

> Merci de noter que le lien de désinscription est uniquement affiché dans le compte du membre quand la session a été initiée directement par le membre et non par un admin.
