# Épicerie

L'épicerie en ligne permet à vos membres de commander des produits supplémentaires depuis leur compte quelques jours avant la livraison de leurs prochains paniers.

Pour vous permettre de préparer le contenu de votre épicerie tranquillement, par défaut, l'épicerie **n'apparaît pas** dans le menu du compte membre. Seuls les admins pouvant accéder au compte d'un membre (depuis le bouton "Accéder au compte" de la page admin d'un membre) peuvent voir l'épicerie. Vous pouvez ainsi vous assurer que tous les produits sont bien présentés. Une fois tout en place, cette limitation peut être désactivée depuis [les paramètres](/settings#shop).

> Au besoin, il est possible de fermer l'épicerie par livraison depuis la page admin de ces dernières.

## Producteurs

Chaque produit peut être associé à [un producteur](/shop_producers). Une description ainsi qu'un lien vers un site web ou document sont définissables pour chacun d'entre eux. Tous les produits peuvent être filtrés par producteur dans l'interface membre de l'épicerie.


## Produits

De nombreuses options sont offertes pour gérer au mieux les produits de votre épicerie.

### Tags

[Les tags](/shop_tags) sont des mots-clés qui permettent de filtrer les produits dans l'interface membre de l'épicerie. Chaque produit peut être associé à un ou plusieurs tags.

### Variantes

Chaque produit se décline en une ou plusieurs variantes. Les variantes permettent de définir des caractéristiques différentes (poids, taille, type) de ce produit.

Chaque variante a son propre nom, prix, poids (optionnel), et stock (optionnel).

### Disponibilité

La disponibilité d'un produit peut–être définie pour lui-même ou pour chacune de ses variantes séparément. Au besoin, un produit peut également être rendu indisponible par dépôt.

> Si le stock d'une variante est défini et tombe à zéro, elle apparaîtra toujours mais il ne sera simplement plus possible de l'ajouter au panier d'achat.

### Compléments

Il est possible de lier un produit à un complément de panier existant; les commandes de ce produit seront alors automatiquement ajoutées au nombre de ce complément dans le récapitulatif Excel et les fiches signature de la livraison des paniers.

Ce produit ne sera également disponible que les jours de livraison du complément.

## Commandes

Afin vous laisser le temps de traiter et facturer les commandes passées avant la livraison, un délai (jours et heures) jusqu'auquel les commandes sont possibles, peut être défini depuis [les paramètres de l'épicerie](/settings#shop). Passé ce délai, les membres ne pourront plus créer ou modifier leur commande pour la livraison à venir.

Il est également possible de paramétrer un montant minimal de commande ainsi qu'un poids maximal, si cette information a bien été renseignée pour chaque variante des produits.

Une fois une commande passée, elle apparaît avec le statut "à préparer" dans [la liste des commandes](/shop_orders?scope=pending). Ces commandes sont toujours modifiables par les membres jusqu'au délai configuré. Un admin peut également les modifier à tout moment.

Un bulletin de livraison (PDF), n'incluant pas le prix des produits, est disponible pour chaque commande si vous désirez les imprimer et les joindre aux paniers.

### Facturation

Une fois les commandes préparées, les commandes doivent être **manuellement** facturées (possibilité de toutes les facturer en un coup via une action groupée). La facture est automatiquement envoyée par email au membre.

> Si une commande déjà facturée est modifiée, la facture existante est automatiquement annulée et une nouvelle facture devra être générée et envoyée.

Il est possible d'ajouter un texte spécifique dans le [template email "Nouvelle facture"](/mail_templates/invoice_created) à l'aide de [la syntaxe Liquid](https://shopify.github.io/liquid) suivante:

~~~ liquid
{% case invoice.object_type %}
{% when 'Shop::Order' %}
  <p>Voici votre nouvelle facture, pour votre commande N° {{ invoice.object_number }}; tous les détails se trouvent dans le PDF ci-joint.</p>
{% else %}
  <p>Voici votre nouvelle facture; tous les détails se trouvent dans le PDF ci-joint.</p>
{% endcase %}
~~~

## Accès aux membres sans abonnement

Par défaut, et en dehors [des livraisons spéciales](#livraisons-spciales), l'accès à l'épicerie est limité aux membres actifs avec un abonnement. Il est cependant possible de définir un dépôt, en modifiant le profil d'un membre inactif, comme étant un "dépôt d'épicerie" afin de lui donner accès à l'épicerie. Les commandes de ces membres se retrouveront alors dans les fiches signature des dépôts correspondants.


## Livraisons spéciales

Les livraisons spéciales vous permettent de proposer des produits supplémentaires à vos membres en dehors des livraisons de paniers habituelles via l'épicerie en ligne.

Les produits disponibles peuvent être définis séparément pour chaque livraison spéciale, le réglage individuel de la disponibilité de chaque produit est ignoré. Par contre, la disponibilité des variantes ainsi que l'état de leur stock sont toujours respectés.

> Comme les livraisons spéciales sont livrées en dehors des livraisons de paniers, elles sont ouvertes à tous vos membres actifs ou non.
