# Warenkorb

Der Online-Warenkorb ermöglicht es Ihren Mitgliedern, einige Tage vor der Lieferung ihrer nächsten Taschen zusätzliche Produkte von ihrem Konto aus zu bestellen.

Um Ihnen zu ermöglichen, den Inhalt Ihres Warenkorbs in Ruhe vorzubereiten, erscheint der Warenkorb standardmäßig **nicht** im Menü des Mitgliedskontos. Nur Administratoren, die auf das Konto eines Mitglieds zugreifen können (über die Schaltfläche "Auf Konto zugreifen" auf der Administratorseite eines Mitglieds), können den Warenkorb sehen. So können Sie sicherstellen, dass alle Produkte gut präsentiert sind. Sobald alles eingerichtet ist, kann diese Einschränkung in [den Einstellungen](/settings#shop) deaktiviert werden.

> Bei Bedarf ist es möglich, den Warenkorb pro Lieferung von der Administratorseite der Lieferungen aus zu schließen.

## Produzenten {#producers}

Jedes Produkt kann [einem Produzenten](/shop_producers) zugeordnet werden. Für jeden von ihnen können eine Beschreibung sowie ein Link zu einer Website oder einem Dokument definiert werden. Alle Produkte können in der Mitgliederschnittstelle des Warenkorbs nach Produzent gefiltert werden.

## Produkte {#products}

Viele Optionen werden angeboten, um die Produkte Ihres Warenkorbs bestmöglich zu verwalten.

### Tags

[Tags](/shop_tags) sind Schlüsselwörter, die es ermöglichen, die Produkte in der Mitgliederschnittstelle des Warenkorbs zu filtern. Jedes Produkt kann einem oder mehreren Tags zugeordnet werden.

### Varianten

Jedes Produkt ist in einer oder mehreren Varianten erhältlich. Varianten ermöglichen es, verschiedene Eigenschaften (Gewicht, Größe, Typ) dieses Produkts zu definieren.

Jede Variante hat ihren eigenen Namen, Preis, Gewicht (optional) und Bestand (optional).

### Verfügbarkeit

Die Verfügbarkeit eines Produkts kann für sich selbst oder für jede seiner Varianten separat definiert werden. Bei Bedarf kann ein Produkt auch pro Depot oder für eine zukünftige Lieferung als nicht verfügbar gekennzeichnet werden.

> Wenn der Bestand einer Variante definiert ist und auf Null fällt, wird sie immer noch angezeigt, aber es wird einfach nicht mehr möglich sein, sie dem Einkaufswagen hinzuzufügen.

### Ergänzungen

Es ist möglich, ein Produkt mit einer bestehenden Taschenergänzung zu verknüpfen; Bestellungen dieses Produkts werden dann automatisch zur Anzahl dieser Ergänzung in der Zusammenfassung (XLSX) und den Blättern (PDF) der Taschenlieferung hinzugefügt.

Dieses Produkt wird auch nur an den Liefertagen der Ergänzung verfügbar sein.

## Bestellungen {#orders}

Um Ihnen Zeit zu geben, die vor der Lieferung aufgegebenen Bestellungen zu bearbeiten und zu berechnen, kann eine Frist (Tage und Stunden), bis zu der Bestellungen möglich sind, in [den Warenkorbeinstellungen](/settings#shop) festgelegt werden. Nach dieser Frist können Mitglieder ihre Bestellung für die bevorstehende Lieferung nicht mehr erstellen oder ändern.

Es ist auch möglich, einen Mindestbestellbetrag sowie ein maximales Gewicht festzulegen, wenn diese Information für jede Produktvariante ordnungsgemäß eingegeben wurde.

Sobald eine Bestellung aufgegeben wurde, erscheint sie mit dem Status "vorzubereiten" in [der Bestellliste](/shop_orders?scope=pending). Diese Bestellungen können von den Mitgliedern bis zur konfigurierten Frist jederzeit geändert werden. Ein Administrator kann sie jederzeit ändern.

Ein Lieferschein (PDF), der den Preis der Produkte nicht enthält, ist für jede Bestellung verfügbar, wenn Sie sie ausdrucken und den Taschen beifügen möchten.

### Abrechnung

Standardmäßig müssen die Bestellungen, sobald sie vorbereitet sind, **manuell** in Rechnung gestellt werden (Möglichkeit, alle auf einmal über eine Gruppenmaßnahme in Rechnung zu stellen). Die Rechnung wird dann automatisch per E-Mail an das Mitglied gesendet.

Es ist auch möglich, die **automatische Abrechnung** der Bestellungen in [den Warenkorbeinstellungen](/settings#shop) zu konfigurieren, nach oder vor einer bestimmten Anzahl von Tagen nach oder vor dem Lieferdatum.

> Wenn eine bereits in Rechnung gestellte Bestellung geändert wird, wird die bestehende Rechnung automatisch storniert und eine neue Rechnung muss generiert und gesendet werden.

Es ist möglich, einen spezifischen Text in der [E-Mail-Vorlage "Neue Rechnung"](/mail_templates/invoice_created) mit Hilfe der folgenden [Liquid-Syntax](https://shopify.github.io/liquid) hinzuzufügen:

~~~ liquid
{% case invoice.entity_type %}
{% when 'Shop::Order' %}
  <p>Hier ist Ihre neue Rechnung für Ihre Bestellung Nr. {{ invoice.entity_number }}; alle Details finden Sie im angehängten PDF.</p>
{% else %}
  <p>Hier ist Ihre neue Rechnung; alle Details finden Sie im angehängten PDF.</p>
{% endcase %}
~~~

## Zugang für Mitglieder ohne Mitgliedschaft

Standardmäßig und außerhalb [von Sonderlieferungen](#special-deliveries) ist der Zugang zum Warenkorb auf aktive Mitglieder mit einer Mitgliedschaft beschränkt. Es ist jedoch möglich, ein Depot durch Ändern des Profils eines inaktiven Mitglieds als "Warenkorbdepot" zu definieren, um ihm Zugang zum Warenkorb zu geben. Die Bestellungen dieser Mitglieder werden dann in den Blättern (PDF) der entsprechenden Depots erscheinen.

## Sonderlieferungen {#special-deliveries}

Sonderlieferungen ermöglichen es Ihnen, Ihren Mitgliedern zusätzliche Produkte außerhalb der üblichen Taschenlieferungen über den Online-Warenkorb anzubieten.

Verfügbare Produkte können separat für jede Sonderlieferung definiert werden, die individuelle Einstellung der Verfügbarkeit jedes Produkts wird ignoriert. Die Verfügbarkeit der Varianten sowie der Zustand ihres Bestands werden jedoch immer respektiert.

> Da Sonderlieferungen außerhalb der Taschenlieferungen geliefert werden, sind sie für alle Ihre Mitglieder, aktiv oder nicht, zugänglich.
