<p>Hallo {{ admin.name }},</p>

<p>Bijgevoegd zijn het samenvattingsbestand (XLSX) en de lijsten (PDF) voor de levering op {{ delivery.date }}.</p>

{% button delivery.admin_url %}
  Toegang tot de leveringspagina
{% endbutton %}
