<p>Ciao {{ admin.name }},</p>

<p>In allegato il file di riepilogo (XLSX) e i fogli (PDF) per la consegna {{ delivery.date }}.</p>

{% button delivery.admin_url %}
  Accedere alla pagina di consegna
{% endbutton %}

