<p>Ciao {{ admin.name }},</p>

<p>In allegato il file di riassunto (XLSX) e i fogli per le firme (PDF) per la consegna {{ delivery.date }}.</p>

{% button delivery.admin_url %}
  Accedere alla pagina di consegna
{% endbutton %}

