<p>Salut {{ admin.name }},</p>

<p>Voici, en pièces jointes, le fichier récapitulatif (XLSX) et les fiches signature (PDF) pour la livraison du {{ delivery.date }}.</p>

{% button delivery.admin_url %}
  Accéder à la page de la livraison
{% endbutton %}
