<p>Salut {{ admin.name }},</p>

<p>Comment est-ce que se passe l'exploration de la démo de CSA Admin? J'espère que le programme vous semble utile! J'aimerais beaucoup connaître vos premières impressions.</p>

<p>Si vous avez des questions, aimeriez une visite guidée ou souhaitez discuter de comment CSA Admin pourrait fonctionner pour votre ACP, répondez simplement à cet e-mail.</p>

<p>Si vous êtes déjà prêt·e à vous lancer, la page <a href="{{ setup_handbook_url }}">Mise en place</a> du manuel explique les quelques étapes nécessaires:</p>

{% button setup_handbook_url %}
  Mise en place
{% endbutton %}
