<p>Hallo {{ admin.name }},</p>

<p>Hoe gaat het met het verkennen van de CSA Admin demo? Ik hoop dat het programma u nuttig lijkt! Ik zou graag uw eerste indrukken horen.</p>

<p>Als u vragen heeft, een rondleiding wilt of wilt bespreken hoe CSA Admin voor uw CSA zou kunnen werken, beantwoord dan gewoon deze e-mail.</p>

<p>Als u al klaar bent om te beginnen, legt de handleidingpagina <a href="{{ setup_handbook_url }}">Configuratie</a> de paar benodigde stappen uit:</p>

{% button setup_handbook_url %}
  Configuratie
{% endbutton %}
