<p>Ciao {{ admin.name }},</p>

<p>Come va l'esplorazione della demo di CSA Admin? Spero che il programma vi sembri utile! Mi piacerebbe molto conoscere le vostre prime impressioni.</p>

<p>Se avete domande, desiderate una visita guidata o volete discutere di come CSA Admin potrebbe funzionare per la vostra ACP, rispondete semplicemente a questa e-mail.</p>

<p>Se siete già pronti a partire, la pagina <a href="{{ setup_handbook_url }}">Configurazione</a> del manuale spiega i pochi passaggi necessari:</p>

{% button setup_handbook_url %}
  Configurazione
{% endbutton %}
