<p>Ecco la lista dei soci:</p>

{% highlight %}
  <ol>
    {% for basket in baskets %}
      <li><strong>{{ basket.member.name }}</strong>, {{ basket.description }}</li>
    {% endfor %}
  </ol>
{% endhighlight %}

<p>Consultare gli allegati per maggiori dettagli, grazie.</p>
