<p>Ciao {{ admin.name }},</p>

{% if demo %}
<p>Sono Thibaud, lo sviluppatore di CSA Admin. Benvenuto nella demo!</p>

<p>Il vostro account è pronto. Cliccate ovunque, create membri, provate le impostazioni, ... tutto viene reimpostato ogni settimana, quindi non potete rompere nulla.</p>

<p>Se avete domande o desiderate una presentazione personalizzata, rispondete semplicemente a questa e-mail, sono sempre felice di aiutarvi.</p>

{% button action_url %}
  Accedi alla demo
{% endbutton %}
{% else %}
<p>Un conto admin per {{ organization.name }} è appena stato creato, per connetterti accedi con la tua e-mail (<strong>{{ admin.email }}</strong>).</p>

{% button action_url %}
  Accedere all'admin di {{ organization.name }}
{% endbutton %}
{% endif %}
