<p>Hello {{ admin.name }},</p>

{% if demo %}
<p>I'm Thibaud, the developer of CSA Admin. Welcome to the demo!</p>

<p>Your account is ready. Feel free to click around, create members, play with the settings, ... everything resets weekly, so you can't break anything.</p>

<p>If you have any questions or would like a personal walkthrough, just reply to this email, I'm always happy to help.</p>

{% button action_url %}
  Access the demo
{% endbutton %}
{% else %}
<p>An admin account for {{ organization.name }} has been created for you, please use your email (<strong>{{ admin.email }}</strong>) to log in.</p>

{% button action_url %}
  Access the admin of {{ organization.name }}
{% endbutton %}
{% endif %}
