<p>Ciao {{ admin.name }},</p>

<p>La fattura #{{ invoice.number }} di <strong>{{ member.name }}</strong> è stata pagata in eccesso, da verificare.</p>

{% button member.admin_url %}
  Accedere alla pagina del socio
{% endbutton %}
