<p>Ciao {{ admin.name }},</p>

<p>Un nuovo ordine (#{{ order.id }}), è appena stato eseguito per la consegna #{{ order.delivery.id }} del {{ order.delivery.date }}.</p>

{% button order.admin_url %}
  Accedere alla pagina dell'ordine
{% endbutton %}
