<p>Hallo {{ admin.name }},</p>

<p>Das Mitglied <strong>{{ member.name }}</strong> ist vom {{ absence.started_on }} bis zum {{ absence.ended_on }} abwesend.</p>

{% button absence.admin_url %}
  Zugang zur Abwesenheitsseite
{% endbutton %}
