<p>Hallo {{ admin.name }},</p>

<p>Eine neue Bestellung (#{{ order.id }}), wurde gerade für die Lieferung #{{ order.delivery.id }} am {{ order.delivery.date }} aufgegeben.</p>

{% button order.admin_url %}
  Zur Bestellseite gehen
{% endbutton %}
