<p>Ciao {{ admin.name }},</p>

<p>Il socio <strong>{{ member.name }}</strong> sarà assente dal {{ absence.started_on }} al {{ absence.ended_on }}.</p>

{% button absence.admin_url %}
  Accedere alla pagina delle assenze
{% endbutton %}
