<p>Hallo {{ admin.name }},</p>

<p>Een terugbetaling van de betaling voor de factuur #{{ invoice.number }} van <strong>{{ member.name }}</strong> is geïmporteerd, controleer dit alstublieft.</p>

{% button payment.admin_url %}
  Toegang tot de pagina voor de terugbetaling
{% endbutton %}
