<li
  class="
    -mx-2 flex flex-none flex-row flex-wrap items-center justify-between
    space-x-2 rounded-sm p-1 px-2 hover:bg-gray-100 dark:hover:bg-gray-900
  "
>
  <span class="flex min-w-fit flex-row items-center">
    <%= "#{l(absence.started_on)} – #{l(absence.ended_on)}" %>
    <%= " (#{t('.deliveries_count', count: absence.baskets.size)})" %>
  </span>

  <% if absence.note? %>
    <%= tooltip("absence-#{absence.id}", absence.note, icon_name: "chat-bubble-bottom-center-text") %>
  <% end %>

  <% if absence.present_or_future? %>
    <span
      class="
        align-center mt-1 flex flex-none grow flex-row items-center
        justify-end gap-2 md:mt-0
      "
    >
      <%= button_to t(".cancel_link"), [ :members, absence ], method: :delete,
    class: "btn btn-xs",
    form_class: "flex items-center" %>
    </span>
  <% end %>
</li>
