# This is the actual configuration file for litestream.
#
# You can either use the generated `config/initializers/litestream.rb`
# file to configure the litestream-ruby gem, which will populate these
# ENV variables when using the `rails litestream:replicate` command.
#
# Or, if you prefer, manually manage ENV variables and this configuration file.
# In that case, simply ensure that the ENV variables are set before running the
# `replicate` command.
#
# For more details, see: https://litestream.io/reference/config/

replica_defaults: &replica_defaults
  type: s3
  bucket: $LITESTREAM_REPLICA_BUCKET
  endpoint: s3.pub1.infomaniak.cloud
  access-key-id: $LITESTREAM_ACCESS_KEY_ID
  secret-access-key: $LITESTREAM_SECRET_ACCESS_KEY
  retention: 24h
  sync-interval: 5m

dbs:
  - path: storage/production_queue.sqlite3
    replicas:
      - <<: *replica_defaults
        path: storage/production_queue.sqlite3

  - path: storage/production_ragedevert.sqlite3
    replicas:
      - <<: *replica_defaults
        path: storage/production_ragedevert.sqlite3

  - path: storage/production_lumieredeschamps.sqlite3
    replicas:
      - <<: *replica_defaults
        path: storage/production_lumieredeschamps.sqlite3

  - path: storage/production_tapatate.sqlite3
    replicas:
      - <<: *replica_defaults
        path: storage/production_tapatate.sqlite3

  - path: storage/production_clefdeschamps.sqlite3
    replicas:
      - <<: *replica_defaults
        path: storage/production_clefdeschamps.sqlite3

  - path: storage/production_croquterre.sqlite3
    replicas:
      - <<: *replica_defaults
        path: storage/production_croquterre.sqlite3

  - path: storage/production_alabellecourgette.sqlite3
    replicas:
      - <<: *replica_defaults
        path: storage/production_alabellecourgette.sqlite3

  - path: storage/production_lesjardinsdouchy.sqlite3
    replicas:
      - <<: *replica_defaults
        path: storage/production_lesjardinsdouchy.sqlite3

  - path: storage/production_lamule.sqlite3
    replicas:
      - <<: *replica_defaults
        path: storage/production_lamule.sqlite3

  - path: storage/production_lafermedugoupil.sqlite3
    replicas:
      - <<: *replica_defaults
        path: storage/production_lafermedugoupil.sqlite3

  - path: storage/production_lafermedessavanes.sqlite3
    replicas:
      - <<: *replica_defaults
        path: storage/production_lafermedessavanes.sqlite3

  - path: storage/production_seminterra.sqlite3
    replicas:
      - <<: *replica_defaults
        path: storage/production_seminterra.sqlite3

  - path: storage/production_p2r.sqlite3
    replicas:
      - <<: *replica_defaults
        path: storage/production_p2r.sqlite3

  - path: storage/production_grundnahrig.sqlite3
    replicas:
      - <<: *replica_defaults
        path: storage/production_grundnahrig.sqlite3

  - path: storage/production_jardindesturricules.sqlite3
    replicas:
      - <<: *replica_defaults
        path: storage/production_jardindesturricules.sqlite3

  - path: storage/production_lepetitsecheron.sqlite3
    replicas:
      - <<: *replica_defaults
        path: storage/production_lepetitsecheron.sqlite3

  - path: storage/production_paniersdesavigny.sqlite3
    replicas:
      - <<: *replica_defaults
        path: storage/production_paniersdesavigny.sqlite3

  - path: storage/production_cocagne.sqlite3
    replicas:
      - <<: *replica_defaults
        path: storage/production_cocagne.sqlite3

  - path: storage/production_potagersdegaia.sqlite3
    replicas:
      - <<: *replica_defaults
        path: storage/production_potagersdegaia.sqlite3

  - path: storage/production_latouviere.sqlite3
    replicas:
      - <<: *replica_defaults
        path: storage/production_latouviere.sqlite3

  - path: storage/production_alpgrava.sqlite3
    replicas:
      - <<: *replica_defaults
        path: storage/production_alpgrava.sqlite3

  - path: storage/production_locali.sqlite3
    replicas:
      - <<: *replica_defaults
        path: storage/production_locali.sqlite3

  - path: storage/production_wurzelkollektiv.sqlite3
    replicas:
      - <<: *replica_defaults
        path: storage/production_wurzelkollektiv.sqlite3

  - path: storage/production_fermedesverpilleres.sqlite3
    replicas:
      - <<: *replica_defaults
        path: storage/production_fermedesverpilleres.sqlite3

  - path: storage/production_hofnarr.sqlite3
    replicas:
      - <<: *replica_defaults
        path: storage/production_hofnarr.sqlite3

  - path: storage/production_lejardindemax.sqlite3
    replicas:
      - <<: *replica_defaults
        path: storage/production_lejardindemax.sqlite3

  - path: storage/production_fairdura.sqlite3
    replicas:
      - <<: *replica_defaults
        path: storage/production_fairdura.sqlite3

  - path: storage/production_ortie.sqlite3
    replicas:
      - <<: *replica_defaults
        path: storage/production_ortie.sqlite3

  - path: storage/production_cultureslocales.sqlite3
    replicas:
      - <<: *replica_defaults
        path: storage/production_cultureslocales.sqlite3

  - path: storage/production_mamajah.sqlite3
    replicas:
      - <<: *replica_defaults
        path: storage/production_mamajah.sqlite3

  - path: storage/production_boisdunant.sqlite3
    replicas:
      - <<: *replica_defaults
        path: storage/production_boisdunant.sqlite3

  - path: storage/production_wilderauke.sqlite3
    replicas:
      - <<: *replica_defaults
        path: storage/production_wilderauke.sqlite3

  - path: storage/production_lepetrichor.sqlite3
    replicas:
      - <<: *replica_defaults
        path: storage/production_lepetrichor.sqlite3
