production: &production
  demo:
    admin_host: admin.my-domain.org
    members_host: members.my-domain.org

development:
  <<: *production

test:
  acme:
    admin_host: admin.acme.test
    members_host: members.acme.test
