@layer components {
  nav[aria-label="breadcrumb"] {
    li {
      @apply text-gray-500! dark:text-gray-400!;
    }

    a {
      @apply text-gray-500! no-underline hover:text-green-600! hover:underline! dark:text-gray-400! dark:hover:text-green-600!;
    }
  }
}
