@layer components {
  .btn,
  .action-item-button,
  .actions .cancel-link,
  .actions input[type="submit"],
  .actions button {
    @apply inline-flex cursor-pointer items-center justify-center px-3 py-2 no-underline;
    @apply rounded-md text-sm;
    @apply focus:z-10 focus:ring-4 focus:outline-hidden;
    @apply disabled:cursor-not-allowed disabled:border-gray-100 disabled:bg-gray-100 disabled:text-gray-500! hover:disabled:border-gray-100 hover:disabled:bg-gray-100 hover:disabled:text-gray-500! dark:disabled:border-gray-700 dark:disabled:bg-gray-700 dark:disabled:text-gray-400! hover:dark:disabled:border-gray-700 hover:dark:disabled:bg-gray-700 hover:dark:disabled:text-gray-400!;

    &.btn-sm {
      @apply px-2 py-0.5 text-sm font-medium;
    }
    &.btn-xs {
      @apply px-1.5 py-0 text-sm font-medium;
    }

    &.btn-light {
      @apply font-normal text-gray-400 dark:text-gray-600;
    }
  }

  a.btn,
  .action-item-button,
  .actions .cancel-link,
  button[type="reset"] {
    @apply font-medium;
    @apply text-gray-700! hover:text-green-600! dark:text-gray-300! dark:hover:text-green-400!;
    @apply border border-gray-200 dark:border-gray-600;
    @apply bg-white hover:bg-gray-50 dark:bg-gray-900 dark:hover:bg-gray-800;
    @apply focus:ring-gray-200 dark:focus:ring-gray-700;
  }

  button[type="submit"].btn,
  input[type="submit"].btn,
  button.action-item-button,
  .actions input[type="submit"],
  .actions button {
    @apply px-4 font-bold;
    @apply text-white! hover:text-white!;
    @apply bg-green-500 hover:bg-green-600 dark:bg-green-600 dark:hover:bg-green-700;
    @apply border border-green-500 hover:border-green-600 dark:border-green-600 dark:hover:border-green-700;
    @apply focus:ring-green-300 dark:focus:ring-green-800;

    &.destructive {
      @apply bg-red-500 hover:bg-red-600 dark:bg-red-600 dark:hover:bg-red-700;
      @apply border border-red-500 hover:border-red-600 dark:border-red-600 dark:hover:border-red-700;
      @apply focus:ring-red-300 dark:focus:ring-red-800;
    }
  }

  .actions .cancel-link {
    @apply text-gray-500;
  }
}
