@layer components {
  .markdown {
    /* Updates, Handook */
    h1 {
      @apply mb-4 scroll-mt-20 text-3xl font-light text-gray-900 dark:text-gray-100;
    }

    h2 {
      @apply mt-10 mb-3 scroll-mt-20 text-2xl font-light text-gray-900 dark:text-gray-100;
    }

    h3 {
      @apply mt-6 mb-2 scroll-mt-20 text-lg font-semibold text-gray-900 dark:text-gray-100;
    }

    p {
      @apply my-4 leading-6 text-gray-900 dark:text-gray-100;
    }

    blockquote {
      @apply my-4 px-4 py-2 text-gray-900 dark:text-gray-100;
      @apply border-l-2 border-yellow-400 bg-yellow-100 dark:border-yellow-600 dark:bg-yellow-900;
    }

    pre {
      @apply mt-4 px-4 py-2;
      @apply border-l-2 border-neutral-400 bg-neutral-100 dark:border-neutral-600 dark:bg-neutral-900;
      @apply overflow-x-auto;

      code {
        @apply text-sm text-gray-900 dark:text-gray-100;
      }
    }

    ul,
    ol {
      @apply my-3 mb-6 list-outside ps-6;
    }

    ol li {
      @apply my-2 ms-2 list-decimal leading-6;
    }

    ul li {
      @apply my-2 ms-2 list-disc leading-6;
    }

    img {
      @apply mx-auto my-2 w-full md:w-2/3;
    }
    img.small {
      @apply mx-auto my-2 w-full md:w-1/3;
    }
    img.btn-sm {
      @apply mx-auto my-2 w-2/3 md:w-1/3;
    }
    img.tiny {
      @apply mx-auto my-2 w-2/3 md:w-1/4;
    }
    img.icon {
      @apply my-0 me-2 -mt-1 inline w-5;
    }
  }
}
