@layer components {
  body.members {
    @apply text-base text-gray-600 dark:text-gray-400;

    header img {
      @apply dark:hue-rotate-180 dark:invert;
    }

    a,
    button {
      @apply no-underline hover:text-green-500;
    }

    p a,
    label a,
    .trix-content a {
      text-decoration-line: underline;
      text-decoration-color: var(--link-decoration);
      text-underline-offset: 2px;

      &:hover {
        color: var(--link-hover);
        text-decoration-color: var(--link-hover);
      }
    }

    b,
    strong {
      @apply font-semibold;
    }

    h1 {
      @apply mb-12 text-4xl font-normal tracking-normal text-balance text-gray-950 dark:text-white;
    }

    h2 {
      @apply text-xl font-medium text-gray-900 dark:text-gray-100;
    }

    section {
      @apply mt-8 mb-16;
    }

    header {
      h2 {
        @apply mt-0 text-base font-medium text-gray-700 dark:text-gray-400;
      }

      li span {
        color: var(--color-gray-500);
      }
      li:hover span {
        color: var(--color-green-500);
      }
      li.active span,
      span.active {
        @apply cursor-default text-green-500;
      }

      li a {
        @apply block px-8 py-2;
      }
    }

    /* Custom CSS */
    .field_with_errors input,
    .field_with_errors textarea {
      @apply border-2 border-red-500;
    }

    .field_with_errors {
      @apply w-full;
    }

    .field_with_errors span.error {
      @apply mt-1 block rounded-md bg-red-100 px-4 py-2 text-red-500 dark:bg-red-900;
    }

    .shop_order_items_quantity.field_with_errors {
      @apply w-auto;
    }

    .shop_order_items_quantity.field_with_errors input,
    .shop_order_items_quantity.field_with_errors button {
      @apply bg-red-100 text-gray-500 dark:bg-red-900;
    }

    .shop_order_items_quantity.field_with_errors span.error {
      @apply mt-0 hidden w-0 p-0;
    }

    input.controls-none::-webkit-outer-spin-button,
    input.controls-none::-webkit-inner-spin-button {
      @apply m-0 appearance-none;
    }

    input[type="number"].controls-none {
      appearance: textfield;
    }

    p.nocontent {
      @apply mt-4 pb-4 text-center text-gray-400 italic dark:text-gray-500;
    }

    li.price-line {
      @apply flex w-full flex-row flex-wrap items-center justify-between border-t border-dotted border-gray-200 dark:border-gray-800;
    }

    p.explanation {
      @apply mt-8 text-sm text-gray-400 dark:text-gray-500;
    }

    form {
      .input > label,
      legend {
        @apply block text-sm font-medium text-gray-700 dark:text-gray-300;
      }

      span.hint {
        @apply inline-block w-full text-xs text-gray-600 dark:text-gray-400;
      }

      div.radio_buttons,
      div.check_boxes {
        @apply flex flex-col space-y-2;

        & > label {
          @apply mb-1;
        }

        &.boolean,
        .radio,
        .checkbox {
          label {
            @apply w-full px-4 py-2;
            @apply flex cursor-pointer items-center;
            @apply rounded-md border border-gray-200 dark:border-gray-700;
          }

          input {
            @apply mr-4 size-6;
            @apply flex-none cursor-pointer;
          }
        }

        &.boolean {
          @apply my-0.5;
        }
      }

      div.quantity_inputs {
        @apply flex flex-col space-y-2;

        .quantity {
          @apply flex items-center;
          @apply w-full px-4 py-2;
          @apply rounded-md border border-gray-200 dark:border-gray-700;

          label {
            @apply order-2 ml-4;
          }

          input {
            @apply order-1 w-16 px-3 py-2;
          }
        }
      }

      div.boolean {
        @apply flex flex-row items-center space-y-2;

        label {
          @apply flex flex-row items-center text-sm font-normal;
        }

        input {
          @apply mr-2;
        }
      }
    }

    .actions {
      @apply mt-6 flex w-full flex-col justify-end gap-4 gap-y-3 md:flex-row;

      input[type="submit"],
      form.button_to {
        @apply order-1;
      }

      form.button_to button {
        @apply w-full;
      }

      a {
        @apply order-2 md:order-1;
      }
    }
  }
}

.disabled {
  --link-decoration: var(--link-disabled);
  --link-hover: var(--link-disabled);
}
:is(.dark, .dark *) .disabled {
  --link-decoration: var(--link-disabled-dark);
  --link-hover: var(--link-disabled-dark);
}

.disabled label,
.disabled legend,
.disabled span,
.disabled input,
.disabled select,
.disabled a,
.disabled .text-sm,
input.string:disabled {
  @apply pointer-events-auto cursor-not-allowed border-gray-200 text-gray-300 dark:border-gray-900 dark:text-gray-600;
}
.disabled a {
  @apply pointer-events-none hover:bg-transparent;
}
.disabled select {
  @apply bg-gray-100 dark:bg-gray-900;
  background-image: url("data:image/svg+xml,<svg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 10 6'><path stroke='%23d1d5db' stroke-linecap='round' stroke-linejoin='round' stroke-width='1' d='m1 1 4 4 4-4'/></svg>");
}
:is(.dark, .dark *) .disabled select {
  background-image: url("data:image/svg+xml,<svg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 10 6'><path stroke='%234b5563' stroke-linecap='round' stroke-linejoin='round' stroke-width='1' d='m1 1 4 4 4-4'/></svg>");
}
.disabled label {
  @apply border-gray-100 dark:border-gray-900;
}
