@layer components {
  .ts-control {
    /* tom-select */
    @apply rounded-md! border! bg-gray-50! text-base! dark:border-gray-600! dark:bg-gray-700!;

    input {
      @apply inline! w-0!;
    }
  }
}
