@layer components {
  .ts-control {
    /* tom-select */
    @apply rounded-md! border! bg-gray-50! text-base! dark:border-gray-600! dark:bg-gray-700!;

    .item {
      @apply mx-1! rounded-md! border! bg-white! dark:border-gray-600! dark:bg-gray-600! dark:text-gray-50!;
    }

    input {
      @apply inline! w-0!;
    }
  }
}
