@layer utilities {
  trix-editor {
    @apply w-full! rounded-md! border! border-gray-300! bg-gray-50! p-2! px-3! text-base! text-gray-900! focus:border-green-500! focus:ring-1! focus:ring-green-500! dark:border-gray-600! dark:bg-gray-800! dark:text-white! dark:placeholder-gray-400! dark:focus:border-green-600! dark:focus:ring-green-600!;
  }

  trix-editor figcaption {
    @apply hidden!;
  }

  trix-editor img,
  .trix-content .attachment {
    @apply inline-block;
  }
  .trix-content img {
    @apply mx-auto max-w-1/2!;
  }

  trix-editor figure {
    @apply my-4!;
  }
  .trix-content figure {
    @apply my-2!;
  }
  .trix-content {
    a {
      @apply text-green-500! underline! dark:text-green-500!;
    }
    ol,
    ul {
      @apply my-2!;
    }
    li {
      @apply ml-6!;
    }
    ol {
      @apply list-decimal;
    }
    ul {
      @apply list-disc;
    }
  }

  trix-toolbar {
    @apply mt-2;
  }

  .field_with_errors {
    & trix-editor {
      @apply border-2! border-red-500!;
    }
  }

  .dark {
    trix-toolbar .trix-button {
      filter: invert();
    }

    trix-editor {
      color: white;
    }

    trix-toolbar .trix-button:disabled {
      filter: invert() grayscale(1) brightness(2);
    }
    trix-toolbar .trix-button--icon::before {
      opacity: 1;
    }
    trix-toolbar .trix-button--icon:disabled::before {
      opacity: 0.5;
    }

    .trix-dialog .trix-button-group {
      filter: invert();
    }
    .trix-input--dialog,
    .trix-button--dialog {
      color: black;
    }
  }

  .trix-button--icon-quote {
    @apply hidden!;
  }

  .trix-button--icon-code {
    @apply hidden!;
  }
}
