h1 class="mt-1 mb-8 text-xl sm:text-2xl font-extrabold text-gray-900 dark:text-gray-100"
  = Membership.model_name.human

h2 class="mt-8 text-lg font-bold text-gray-900 dark:text-gray-100"
  = t(".title.#{params[:decision]}")

p class='mt-2 justify'
  = t(".text.#{params[:decision]}", last_delivery_date: l(Delivery.current_year.last.date), first_delivery_date: l(Delivery.future_year.first.date)).html_safe

div class="mt-4"
  = simple_form_for @membership, url: members_membership_renewal_path, method: :post do |f|
    = f.hidden_field :renewal_decision

    div class="space-y-8"
      - case params[:decision]
      - when 'cancel'
        = f.input :renewal_note, as: :text, placeholder: t('.renewal_note.placeholder.cancel').html_safe, label_html: { class: 'text-sm font-medium text-gray-700 dark:text-gray-300' }, input_html: { rows: 3, class: 'mt-1 dark:bg-black w-full px-3 py-2 border border-gray-300 dark:border-gray-700 placeholder-gray-400 dark:placeholder-gray-600 text-gray-900 dark:text-gray-100 rounded-md focus:outline-none focus:ring-green-500 focus:border-green-500 focus:z-10' }

        - if Current.acp.annual_fee?
          = f.input :renewal_annual_fee, as: :boolean, label: (t('.renewal_annual_fee_label') + "<span class='text-lg text-gray-400 dark:text-gray-600 whitespace-nowrap'>#{cur(Current.acp.annual_fee, precision: 0)}</span>").html_safe, input_html: { class: 'mr-4 flex-none h-6 w-6 rounded border-2 border-gray-300 dark:border-gray-700 text-green-500 dark:bg-black focus:outline-none focus:ring-green-500 focus:border-green-500 cursor-pointer' }, label_html: { class: 'flex flex-row text-sm font-normal text-gray-700 dark:text-gray-300 flex flex-row flex-nowrap items-center cursor-pointer' }, wrapper_class: 'border-gray-200 dark:border-gray-800 border rounded px-4 py-4'
      - when 'renew'
        div class="space-y-6" data-controller="form-choices-limiter"
          = f.input :basket_size_id, as: :radio_buttons, collection: basket_sizes_collection(membership: @membership, no_basket_option: false,data: { action: 'form-choices-limiter#limitChoices' }), required: true, label: BasketSize.model_name.human, label_html: { class: 'font-medium text-gray-700 dark:text-gray-300' }, input_html: { class: 'mr-4 flex-none h-6 w-6 border-2 border-gray-300 dark:border-gray-700 text-green-500 dark:bg-black focus:outline-none focus:ring-green-500 focus:border-green-500 cursor-pointer' }, item_label_class: 'border-gray-200 dark:border-gray-800 border rounded px-4 py-2 flex flex-row flex-nowrap items-center cursor-pointer', wrapper_class: 'flex flex-col space-y-2'

          - if @membership.memberships_basket_complements.any?
            div
              label class="font-medium text-gray-700 dark:text-gray-300"
                = BasketComplement.model_name.human(count: 2)
              - if Current.acp.member_form_complements_text?
                div class="mt-1 mb-4 text-sm text-justify"
                  == Current.acp.member_form_complements_text
              = f.simple_fields_for :memberships_basket_complements, data: { form_disabler_target: 'label' } do |ff|
                = ff.input :basket_complement_id, as: :hidden
                = ff.input :quantity, as: :numeric, label: basket_complement_label(ff.object.basket_complement), required: false, input_html: { min: 0, class: 'order-1 dark:bg-black w-16 px-3 py-2 border border-gray-300 dark:border-gray-700 placeholder-gray-400 dark:placeholder-gray-600 text-gray-900 dark:text-gray-100 rounded-md focus:outline-none focus:ring-green-500 focus:border-green-500 focus:z-10' }, label_html: { class: 'order-2 ml-4' }, wrapper_class: 'mt-2 flex items-center'

          - if show_basket_price_extras? && !current_member.salary_basket?
            div
              label class="font-medium text-gray-700 dark:text-gray-300"
                = Current.acp.basket_price_extra_public_title
              div class="my-1 text-sm text-justify trix"
                = Current.acp.basket_price_extra_text&.html_safe
              = f.input :basket_price_extra, as: :radio_buttons, collection: basket_prices_extra_collection, label: false, required: true, input_html: { class: 'mr-4 flex-none h-6 w-6 border-2 border-gray-300 dark:border-gray-700 text-green-500 dark:bg-black focus:outline-none focus:ring-green-500 focus:border-green-500 cursor-pointer' }, item_label_class: 'border-gray-200 dark:border-gray-800 border rounded px-4 py-2 flex flex-row flex-nowrap items-center cursor-pointer', wrapper_class: 'flex flex-col space-y-2'

          - if Current.acp.membership_renewal_depot_update?
            div class='space-y-8'
              = f.input :depot_id, as: :radio_buttons, collection: depots_collection(membership: @membership, data: { action: 'form-choices-limiter#limitChoices' }), label: Depot.model_name.human, required: true, input_html: { class: 'mr-4 flex-none h-6 w-6 border-2 border-gray-300 dark:border-gray-700 text-green-500 dark:bg-black focus:outline-none focus:ring-green-500 focus:border-green-500 cursor-pointer' }, item_label_class: 'border-gray-200 dark:border-gray-800 border rounded px-4 py-2 flex flex-row flex-nowrap items-center cursor-pointer', wrapper_class: 'flex flex-col space-y-2', label_html: { class: 'font-medium text-gray-700 dark:text-gray-300' }

              - if DeliveryCycle.visible?
                = f.input :delivery_cycle_id, as: :radio_buttons, collection: visible_delivery_cycles_collection(membership: @membership, data: { form_choices_limiter_target: 'input' }), disabled: (DeliveryCycle.pluck(:id) - @membership.depot.delivery_cycle_ids - [@membership.delivery_cycle_id]), label: Delivery.model_name.human(count: 2), required: true, input_html: { class: 'mr-4 flex-none h-6 w-6 border-2 border-gray-300 dark:border-gray-700 text-green-500 dark:bg-black focus:outline-none focus:ring-green-500 focus:border-green-500 cursor-pointer' }, item_label_class: "border-gray-200 dark:border-gray-800 border rounded px-4 py-2 flex flex-row flex-nowrap items-center cursor-pointer", wrapper_class: 'flex flex-col space-y-2', label_html: { class: 'font-medium text-gray-700 dark:text-gray-300' }

        = f.input :renewal_note, as: :text, placeholder: t('.renewal_note.placeholder.renew').html_safe, label_html: { class: 'text-sm font-medium text-gray-700 dark:text-gray-300' }, input_html: { rows: 5, class: 'mt-1 dark:bg-black w-full px-3 py-2 border border-gray-300 dark:border-gray-700 placeholder-gray-400 dark:placeholder-gray-600 text-gray-900 dark:text-gray-100 rounded-md focus:outline-none focus:ring-green-500 focus:border-green-500 focus:z-10' }

    div class='flex flex-col md:flex-row justify-end mt-8 md:space-x-4'
      = link_to t('.cancel'), members_memberships_path, class: 'button order-2 md:order-1 mt-4 md:mt-0 md:min-w-min min-w-full text-center py-2 px-4 border border-green-400 dark:border-green-600 hover:border-green-500 hover:bg-green-500 font-medium rounded-md focus:outline-none focus:ring-green-500 focus:border-green-500 focus:z-10 text-base cursor-pointer'
      = f.button :submit, t('.submit'), class: 'order-1 md:order-2 min-w-full md:min-w-min py-2 px-6 border border-green-400 dark:border-green-600 bg-green-400 dark:bg-green-600 hover:border-green-500 hover:bg-green-500 text-white font-medium rounded-md focus:outline-none focus:ring-green-500 focus:border-green-500 focus:z-10 text-base cursor-pointer'
