- if params[:member].present?
  - pricing = MembershipPricing.new(member_params)
  - if pricing.present?
    div class="mt-16 h-12 w-full sticky bottom-2 "
      div class="-mx-4 md:-mx-0 px-4 md:px-0 bg-transparent"
        div class="shadow-md mx-0 mx-auto w-fit flex flex-col border dark:border-gray-700 rounded bg-gray-100 dark:bg-gray-900"
          div class="p-2 px-4 flex flex-row items-center justify-center text-gray-500"
            = inline_svg_tag 'members/cash.svg', class: 'h-6 w-6 flex-shrink-0 fill-stroke text-gray-400 dark:text-gray-600'
            span class="ml-3"
              - if pricing.prices.one?
                = cur(pricing.prices.first)
              - else
                = [cur(pricing.prices.min), cur(pricing.prices.max, format: '%n')].join('-')
              span class="ml-1 text-gray-400 dark:text-gray-600"
                = "/#{t('.year')}"
