<h1 class="text-center">
  <span class="text-6xl md:text-8xl block"> 🎉 </span>
  <span class="mt-6 md:mt-8 block">
    <%= t(".title") %>
  </span>
</h1>

<p class="mt-8 md:mt-12 text-pretty">
  <%= t(".text") %>
</p>
<p class="mt-16 md:mt-20 text-center">
  <%= link_to_org_website %>
</p>
