<h1 class="text-center">
  <span class="block text-6xl md:text-8xl"> 🎉 </span>
  <span class="mt-6 block md:mt-8"><%= t(".title") %></span>
</h1>

<p class="mt-8 text-pretty md:mt-12"><%= t(".text") %></p>

<p class="mt-16 text-center md:mt-20"><%= link_to_org_website %></p>
