---
http_interactions:
- request:
    method: post
    uri: https://ebanking.raiffeisen.ch/softCertLogin/offlinetool
    body:
      encoding: UTF-8
      string: password=PASSWORD
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Frame-Options:
      - SAMEORIGIN
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"ISO-8859-1\" ?>\r\n<LOGIN_SOFT_CERT_RESPONSE>\r\n
        \      <ErrorCode>0</ErrorCode>\r\n    <StatusMsg>Das Zertifikat Login war
        erfolgreich.</StatusMsg>\r\n        <LastLogin>2016-03-13 10:33:39.000</LastLogin>\r\n</LOGIN_SOFT_CERT_RESPONSE>\r\n"
  recorded_at: Sun, 13 Mar 2016 09:33:42 GMT
- request:
    method: get
    uri: https://ebanking.raiffeisen.ch/root/datatransfer/esrdownload?Download=Abholen&ESRAccountNumber=all&ESRDataType=allESR
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename="ESR_20160313103343.v11"
      Frame-Options:
      - SAMEORIGIN
      Content-Type:
      - hmi_ibf/plain_v11
    body:
      encoding: UTF-8
      string: "00201013734600110419080241000000000002400000000959999  999915112015112015112099999999500000000000000
        \                         \r\n00201013734600110419080241000000000002400000001159999
        \ 999915111915111915111999999999500000000000000                          \r\n0020101373460011041908024100000000[...]
