- live_stock = live_stock(variant, order)
div class="flex flex-row items-center #{'text-gray-300' if live_stock&.zero? }"
  div class="flex-grow flex items-center"
    span
      = variant.name
    - case live_stock
    - when 1..5
      span class="ml-2 px-2 text-xs text-red-500 dark:text-red-400 rounded-full bg-red-100 dark:bg-red-800 whitespace-nowrap"
        = t('.live_stock', count: live_stock)
    - when ..0
      span class="ml-2 px-2 text-xs text-gray-400 dark:text-gray-500 rounded-full bg-gray-200 dark:bg-gray-800 whitespace-nowrap"
        = t('.live_stock', count: 0)

  div class="ml-2 flex-none"
    = cur(variant.price)

  div class="ml-2 flex-none"
    - if !live_stock || live_stock.positive?
      = button_to members_shop_order_items_path, method: :post, title: t('.add_to_basket'), class: 'bg-gray-200 dark:bg-gray-800 hover:bg-green-500 font-medium rounded-md focus:outline-none focus:ring-green-500 focus:z-10 text-sm cursor-pointer flex items-center', disabled: live_stock&.zero?, params: { variant_id: variant.id } do
        = inline_svg_tag 'members/shopping_cart.svg', class: 'px-2 py-1 h-6 w-10 fill-stroke hover:text-white'
    - else
      span class='text-gray-300 dark:text-gray-700 bg-gray-200 dark:bg-gray-800 rounded-md cursor-not-allowed flex items-center'
        = inline_svg_tag 'members/shopping_cart.svg', class: 'px-2 py-1 h-6 w-10 fill-stroke'
