@layer components {
  body.members {
    header img {
      @apply dark:hue-rotate-180 dark:invert;
    }

    a.button {
      @apply hover:text-white;
    }

    p a,
    label a {
      @apply underline;
    }

    a {
      @apply no-underline;
      color: inherit;
    }

    b,
    strong {
      @apply font-semibold;
    }

    a {
      @apply hover:border-green-200 hover:text-green-500 hover:dark:border-green-800;
    }

    /* Custom CSS */
    .field_with_errors input,
    .field_with_errors textarea {
      @apply border-2 border-red-500;
    }

    .field_with_errors {
      @apply w-full;
    }

    .field_with_errors span.error {
      @apply mt-1 block rounded-md bg-red-100 px-4 py-2 text-red-500 dark:bg-red-900;
    }

    .shop_order_items_quantity.field_with_errors {
      @apply w-auto;
    }

    .shop_order_items_quantity.field_with_errors input,
    .shop_order_items_quantity.field_with_errors button {
      @apply bg-red-100 text-gray-500 dark:bg-red-900;
    }

    .shop_order_items_quantity.field_with_errors span.error {
      @apply mt-0 hidden w-0 p-0;
    }

    li.active a,
    li.active a h2,
    h2.active,
    span.active {
      @apply cursor-default text-green-500;
    }

    input.controls-none::-webkit-outer-spin-button,
    input.controls-none::-webkit-inner-spin-button {
      @apply m-0 appearance-none;
    }

    input[type="number"].controls-none {
      appearance: textfield;
    }
  }
}

.disabled label,
.disabled span,
.disabled input,
.disabled a,
.disabled .text-sm,
button:disabled,
input.string:disabled {
  @apply pointer-events-auto cursor-not-allowed border-gray-200 text-gray-300 dark:border-gray-900 dark:text-gray-700;
}
.disabled a {
  @apply pointer-events-none decoration-gray-300 hover:bg-transparent dark:decoration-gray-700;
}
.disabled label {
  @apply border-gray-100 dark:border-gray-900;
}
