<%= turbo_frame_tag @delivery do %>
  <div data-controller="iframe">
    <%= tag.iframe(
      title: "Mail Preview",
      srcdoc: @delivery.mail_preview,
      scrolling: "no",
      class: "mail_preview",
      data: { iframe_target: "iframe" }
    ) %>
  </div>
<% end %>
