section.contact_sharing {
  p.empty {
    margin-top: $base-spacing;
  }
  p.info {
    margin-top: $base-spacing * 2;
  }
}


ul.contacts {
  width: 100%;
  display: inline-block;
  margin: $base-spacing 0;

  > li {
    margin: 0 0 $base-spacing;
    display: inline-block;
    float: left;
    width: 100%;
    @media screen and (min-width: 900px) {
      width: calc(50% - 1.5em); // - $base-spacing
      margin: 0 $base-spacing $base-spacing 0;
      min-height: 120px;
    }
  }

  ul.member {
    position: relative;

    li {
      margin: 0;
      display: block;
      float: none;
      width: 100%;

      &.name {
        font-weight: 600;
      }

      a {
        color: $dark-gray;
      }
    }
  }
}
