form {
  .field_with_errors input {
    border: 2px solid $red;
    padding: 9px;
  }

  ul.errors {
    width: calc(80% - 4px);
    margin-bottom: $base-spacing;
  }

  .input {
    p.hint {
      margin-top: $small-spacing  / 2;
      color: $medium-gray;
      font-weight: 300;
      font-size: $base-font-size * 0.8;
      font-style: italic;
      width: 100%;
      @media screen and (min-width: 900px) {
        width: 80%;
      }
    }
  }
}

// Member new form
form.formtastic {
  input[type='text'],
  textarea {
    width: calc(100% - 2 * 10px);
  }
  select {
    width: 100%;
  }

  fieldset {
    display: block;
    border: 0;
    padding: 0;
    margin: 0;

    &.actions {
      margin-top: $small-spacing;
    }

    p {
      font-size: $base-font-size * 0.9;
      margin-top: $small-spacing;
    }

    ol {
      display: block;

      li {
        display: block;
      }
    }

    ol li.fl {
      float: left;

      &#member_zip_input {
        width: 70px;
        padding-right: 2em;
      }

      &#member_city_input {
        width: calc(100% - 70px - 2em - 2 * 10px);
      }

      input {
        width: 100%;
      }
    }
  }

  p.inline-hints {
    font-size: $base-font-size * 0.75;
    color: $medium-gray;
    font-weight: 300;
    font-style: italic;
    margin: $small-spacing / 2 0 0 0;
  }

  legend span {
    display: inline-block;
    font-size: $base-font-size * 1.2;
    line-height: $heading-line-height;
    font-weight: 600;
    margin: $base-spacing 0 0 0;
  }

  label,
  legend label {
    display: inline-block;
    width: 100%;
    font-size: $base-font-size * 0.9;
    font-weight: 500;
    margin: $small-spacing 0 0 0;
  }

  p.inline-errors {
    color: white;
    background-color: $red;
    padding: $small-spacing / 2;
    border: 3px solid $red;
    border-radius: $base-border-radius;
  }

  p.legend-text {
    margin-top: $small-spacing / 2;
    font-size: $base-font-size * 0.9;
  }

  #member_terms_of_service_input {
    margin-top: $base-spacing;
  }

  li.disabled,
  li.disabled a,
  li.disabled em {
    color: $light-gray !important;
  }

  li.next {
    margin-top: $base-spacing;
  }
}
