form {
  .field_with_errors input {
    border: 2px solid $red;
    padding: 9px;
  }

  ul.errors {
    width: calc(80% - 4px);
    margin-bottom: $base-spacing;
  }

  .input {
    p.hint {
      margin-top: $small-spacing  / 2;
      color: $medium-gray;
      font-weight: 300;
      font-size: $base-font-size * 0.8;
      font-style: italic;
      width: 100%;
      @media screen and (min-width: 900px) {
        width: 80%;
      }
    }
  }
}

// Member new form
form.formtastic {
  input[type='text'],
  textarea {
    width: calc(100% - 2 * 10px);
  }
  select {
    width: 100%;
  }

  fieldset {
    display: block;
    border: 0;
    padding: 0;
    margin: 0;

    &.actions {
      margin-top: $small-spacing;
    }

    p {
      font-size: $base-font-size * 0.9;
      margin-top: $small-spacing;

      b {
        font-weight: 550;
      }
    }

    ol {
      display: block;

      li {
        display: block;
      }
    }

    ol li.fl {
      float: left;

      &#member_zip_input {
        width: 70px;
        padding-right: 2em;
      }

      &#member_city_input {
        width: calc(100% - 70px - 2em - 2 * 10px);
      }

      input {
        width: 100%;
      }
    }
  }

  fieldset.basket_complements {
    margin-bottom: 0.75em;
    li.number {
      display: flex;
      flex-direction: row;
      width: 100%;
      margin-top: 0.5em;
    }
    label {
      order: 2;
      margin: auto 0 auto 7px;
      font-weight: 400;
      em {
        margin-left: $small-spacing / 2;
        color: $medium-gray;
        font-weight: 300;
        font-style: italic;

        &.price {
          white-space: nowrap;
        }
      }
    }
    input[type='number'] {
      order: 1;
      height: 5px;
      font-size: 0.9em;
      padding: 10px 5px 10px 8px;
      width: 30px;
    }
  }

  p.inline-hints {
    font-size: $base-font-size * 0.75;
    color: $medium-gray;
    font-weight: 300;
    font-style: italic;
    margin: $small-spacing / 2 0 0 0;
  }

  legend span {
    display: inline-block;
    padding: 16px 0px 8px 0px;
    margin: 0;
    font-size: 18px;
    font-weight: 400;
  }

  label,
  legend label, legend span {
    display: inline-block;
    width: 100%;
    font-size: $base-font-size * 0.9;
    font-weight: 500;
    padding: 0px;
    margin: $small-spacing 0 0 0;
  }

  p.inline-errors {
    color: white;
    background-color: $red;
    padding: $small-spacing / 2;
    border: 3px solid $red;
    border-radius: $base-border-radius;
  }

  p.legend-text {
    margin-top: $small-spacing / 2;
    font-size: $base-font-size * 0.9;
  }

  #member_terms_of_service_input {
    margin-top: $base-spacing;
  }

  input#member_desired_acp_shares_number {
    width: 2.5em;
  }

  li.disabled,
  li.disabled a,
  li.disabled em,
  li.disabled p.inline-hints,
  li fieldset.disabled,
  li fieldset.disabled a,
  li fieldset.disabled em,
  label.disabled,
  label.disabled a,
  label.disabled em {
    color: $light-gray !important;
  }

  li.next {
    margin-top: $base-spacing;
  }
}

.extra_text {
  font-size: 0.9em;
  line-height: 1.5;
  margin: $small-spacing 0;
  font-weight: 400;

  ul {
    list-style-type: disc;
    list-style-position: inside;
  }
  ol {
    list-style-type: decimal;
    list-style-position: inside;
  }
  li {
    line-height: 1.5;
    display: list-item !important;
  }
  strong {
    font-weight: 550;
  }
}
