@use "sass:math";

#group-buying-order-form {
  h3 {
    margin: $base-spacing 0 $small-spacing;

    > a {
      color: black;

      &:hover {
        color: $dark-green;
      }
    }

    span.web {
      position: absolute;

      svg {
        position: absolute;
        top: 1px;
        left: $small-spacing * 0.5;
      }
    }
  }

  h4 {
    margin: $base-spacing 0 $small-spacing;
  }

  ul.products {
    margin-bottom: $base-spacing * 2;

    li {
      margin: 0;
      padding: 0 $small-spacing * 0.5;

      &:nth-child(odd) {
        background-color: #f6f6f6;
      }
    }
  }

  .product {
    display: flex;
    padding: $small-spacing * 0.5 0;

    label {
      flex-grow: 3;
      font-weight: normal;
      word-break: keep-all;
      display: flex;
      align-items: center;
      padding: 0;
      margin: 0;
      flex-wrap: wrap;

      span.title {
        flex-grow: 3;
      }

      span.price {
        width: 100px;
        text-align: right;
        margin-left: $small-spacing;
        @media screen and (max-width: 900px) {
          text-align: left;
          margin-left: 0;
        }
      }

      .trix-content {
        width: 100%;
        font-size: 0.9em;
        font-weight: 300;
        color: $medium-gray;
      }
    }

    .quantity {
      margin-left: $small-spacing;

      input {
        width: 45px;
      }
    }
  }

  label#terms_of_service {
    display: flex;
    align-items: center;
    font-weight: normal;
    /* Baseline centering */
  }

  input[type=checkbox] {
    flex: none;
    width: 14px;
    margin: 0 $small-spacing 0 0;
  }

  .submit {
    margin-top: $base-spacing;
  }
}

#amount-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: $base-spacing * 2;

  p {
    border-top: 2px solid $dark-gray;
    font-weight: 600;
    margin-right: 5.25em;
    @media screen and (max-width: 900px) {
      margin-right: 0;
    }
  }
}

ul.group_buying {
  li {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: $small-spacing * 0.5;

    &:nth-child(odd) {
      background-color: #f6f6f6;
    }
    @media screen and (min-width: 900px) {
      flex-wrap: nowrap;
    }

    span.date {
      order: 3;
      @media screen and (min-width: 900px) {
        flex-basis: 6em;
        order: 1;
      }
    }

    span.info {
      order: 1;
      flex-basis: 60%;
      @media screen and (min-width: 900px) {
        order: 2;
        flex-basis: auto;
      }
    }

    span.file {
      order: 3;
      flex-grow: 10;
      margin-left: $small-spacing;

      svg {
        margin-bottom: -2px;
      }
    }

    span.state {
      order: 4;
      height: $base-font-size * 1.4;
      font-style: normal !important;
      display: inline-block;
      color: white;
      text-transform: uppercase;
      font-size: $base-font-size * 0.7;
      border: solid 1px;
      font-weight: 700;
      padding: 0 $small-spacing * 0.5;
      margin: math.div($small-spacing, 3) 0 0 $small-spacing;
      border-radius: 5px;
      position: relative;
      @media screen and (min-width: 900px) {
        margin: math.div($small-spacing, 3) $small-spacing 0;
      }

      &.closed {
        background-color: #80a432;
        border-color: #80a432;
      }

      &.open {
        background-color: $red;
        border-color: $red;
      }

      &.canceled {
        background-color: #cccccc;
        text-decoration: none;
        border-color: #cccccc;
      }
    }

    span.amount {
      flex-grow: 1;
      min-width: 100px;
      text-align: right;
      order: 2;
      flex-basis: 40%;
      @media screen and (min-width: 900px) {
        order: 5;
        flex-basis: auto;
      }
    }

    &.canceled span {
      text-decoration: line-through;
    }
  }
}
