@use "sass:color";

$alert-red: #ff3000;
$alert-yellow: #9eff00;
$alert-green: $green;
$base-accent-color: white;

$label-alerts: (
  alert: $alert-yellow,
  error: $alert-red,
  notice: color.adjust($base-accent-color, $lightness: 40%),
  success: $alert-green
);

@each $alert, $color in $label-alerts {
  .label-#{$alert} {
    color: $color;
  }
}
