@use "sass:color";
$flash-red: #fbe3e4;
$flash-yellow: #fff6bf;
$flash-green: #e6efc2;

%flash-base {
  display: block;
  font-weight: 600;
  margin: $base-spacing * 0.5 0;
  padding: $base-spacing * 0.5;
  border-radius: $base-border-radius;
}

$flashes: (
  alert: $flash-yellow,
  error: $flash-red,
  notice: $flash-green,
  success: $flash-green
);

@each $flash, $color in $flashes {
  .flash-#{$flash} {
    @extend %flash-base;
    background: $color;
    color: color.adjust($color, $lightness: -60);

    a {
      color: color.adjust($color, $lightness: -70);
      border-bottom: 1px solid color.adjust(color.adjust($color, $lightness: -70), $alpha: -0.7);

      &:hover {
        color: color.adjust($color, $lightness: -90);
      }
    }
  }
}
