@use "sass:color";
$body-width: 880px;
$nav-width: 270px; // Font Sizes
$base-font-size: 1em; // Line height
$base-line-height: 1.5;
$heading-line-height: 1.2; // Other Sizes
$base-border-radius: 5px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing * 0.5;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$lightest-gray: #eee;
$green: #55b946;
$red: #cc0000;
$blue: #1e83f6;
$dark-green: color.adjust($green, $lightness: -10%); // Font Colors
$base-font-color: $dark-gray; // Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color; // Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%); // Screen Breakpoints
$medium-screen: 600px;
$large-screen: 900px;
