// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import 'formadmin/formadmin';
@import 'active_admin/editor';
@import 'active_admin/editor/wysiwyg';
@import 'font-awesome-sprockets';
@import 'font-awesome';

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

.align-right {
  text-align: right !important;
  white-space: nowrap;
}

#footer {
  box-shadow: none !important;
  border: none !important;
  color: transparent !important;
  background-color: transparent !important;
}

li.choice input {
  margin-right: 10px !important;
}

li.input.numeric input {
  float: left;
  text-align: right;
  margin-left: 20px;
  width: 100px;
  // margin-right: 10px !important;
}

li.datepicker input.datepicker {
  float: left !important;
  margin-left: 20px !important;
  width: 188px !important;
}

li.boolean label {
  padding-left: 18px;
}

span.delivery_note {
  display: block;
  margin-top: 15px;
  textarea {
    width: 100%;
  }

  input {
    margin-top: 5px;
  }
}

span.delivery_absences {
  display: block;
  margin-top: 5px;
}

#utility_nav {
  li a {
    font-size: 20px;
    padding: 5px !important;
  }
}

table a.edit_link { background-image: asset-url('formadmin/edit.svg'); }
table a.pdf_link { background-image: asset-url('pdf_file.svg'); }

table .edit_link, table .pdf_link {
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  height: 16px;
  margin: 0 5px;
  opacity: 0.75;
  position: relative;
  text-indent: -99999px;
  transition: opacity 250ms;
  width: 16px;
}

.status_tag {
  &.trial, &.coming, &.not_sent { background-color: #1e83f6; }
  &.open, &.no, &.rejected { background-color: #ff2600; }
  &.pending { background-color: #ff2600; }
  &.active, &.closed, &.validated { background-color: #80a432; }
  &.waiting { background-color: #91ba3a; }
  &.pending { background-color: #addf45; }
}

table.table-baskets {

  .col-status { width: 70px; }
  .col-actions { width: 30px; }

  tr.next  {
    background-color: #ddd;
  }
}

table.table-invoices {
  .col-actions {
    padding-right: 10px;
    width: 30px;
  }
  .col-status {
    text-align: right;
    width: 100px;
  }
}

table.table-halfday_participations {
  .col-description { width: 300px; }
  .col-part { width: 40px; }
  .col-state {
    text-align: right;
    width: 80px;
  }
}

table.table-memberships {
  .col-baskets {
    width: 90px;
    text-align: right;
  }
}

#titlebar_right .action_item {
  margin-bottom: 3px !important;
}
