// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;
// Active Admin's got SASS!
$primary-color: #0c9024 !default; // #22952f
@import 'formadmin/formadmin';
@import 'jquery.timepicker'; // Foradmin fix

.flash_alert {
  background-color: tint($negative-color, 95%);
  background-image: linear-gradient(to bottom, tint($negative-color, 90%), tint($negative-color, 85%));
  border-color: rgba($negative-color, 0.5);
  color: $negative-color;

  &:hover {
    border-color: $negative-color;
  }
}

.align-right {
  text-align: right !important;
}

#footer {
  margin-top: 30px !important;
  box-shadow: none !important;
  border: none !important;
  background-color: transparent !important;
  font-size: 14px !important;
  line-height: 1.3 !important;

  a {
    text-decoration: none;
    color: #bbb;
    background-image: asset-url('logo-grey.svg');
    background-size: 18px;
    background-repeat: no-repeat;
    padding-left: 23px;
    display: inline-block;
  }
}

li.choice input {
  margin-right: 10px !important;
}

li.input.numeric input {
  float: left;
  text-align: right;
  margin-left: 20px;
  width: 100px;
}

li.datepicker input.datepicker {
  float: left !important;
  margin-left: 20px !important;
  width: 188px !important;
}

li.boolean label {
  padding-left: 18px;
}

form input[type='checkbox']:checked {
  border-color: #80a432 !important;
  box-shadow: inset 0 0 0 13px #80a432 !important;
}

form input[type='checkbox']:checked:after {
  border-color: #80a432 !important;
}

form input[type='checkbox']:disabled {
  border-color: #aaa !important;
  box-shadow: inset 0 0 0 13px #aaa !important;
}

form#edit_membership ol em {
  color: rgba(63, 63, 63, 0.5);
  transition: color 250ms;
  display: block;
  padding: 10px 15px 20px;
}

span.delivery_note {
  display: block;
  margin-top: 15px;

  textarea {
    width: 100%;
  }

  input {
    margin-top: 5px;
  }
}

span.delivery_absences {
  display: block;
  float: right;
}

table a.edit_link {
  background-image: asset-url('formadmin/edit.svg');
}

table a.pdf_link {
  background-image: asset-url('pdf_file.svg');
}

table a.xlsx_link {
  background-image: asset-url('xlsx_file.svg');
}

table .edit_link,
table .pdf_link,
table .xlsx_link {
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  height: 16px;
  margin: 0 5px;
  opacity: 0.75;
  position: relative;
  text-indent: -99999px;
  transition: opacity 250ms;
  width: 16px;
}

.col-status .status_tag:not(:first-child) {
  margin-top: 5px;
}

.status_tag {
  &.coming,
  &.manual,
  &.not_sent,
  &.trial {
    background-color: #1e83f6;
  }

  &.no,
  &.open,
  &.rejected {
    background-color: #ff2600;
  }

  &.active,
  &.closed,
  &.isr,
  &.validated,
  &.yes {
    background-color: #80a432;
  }

  &.support {
    background-color: #80d232;
  }

  &.waiting {
    background-color: #91ba3a;
  }

  &.pending {
    background-color: #addf45;
  }
}

table#index_table_invoices,
table#index_table_payments {
  .col-amount,
  .col-balance {
    text-align: right;
    width: 130px;
  }

  .col-rap {
    text-align: right;
  }

  .col-actions {
    padding: 0 5px;
    margin: 0;
    width: 65px;
  }
}

table#index_table_depots,
table#index_table_payments {
  .col-actions {
    padding: 0 5px;
    margin: 0;
    width: 90px;
  }
}

table#index_table_deliveries {
  .col- {
    width: 40px;
  }

  .col-date {
    width: 200px;
  }

  .col-actions {
    width: 165px;
  }
}

table.table-baskets {
  .col-status {
    width: 80px;
    padding-left: 10px;
  }

  .col-actions {
    width: 30px;
  }

  .col-delivery {
    width: 180px;
  }

  .col-depot {
    padding-left: 20px;
  }

  tr.next {
    background-color: #ddd;
  }
}

table#index_table_invoices,
table.table-invoices {
  .col-id {
    width: 80px;
  }

  .col-rap {
    text-align: right;
    width: 30px;
    padding-right: 10px;
  }

  .col-status {
    text-align: right;
    width: 100px;
  }

  .col-overdue_notices_count {
    text-align: right;
  }

  .col-amount,
  .col-balance {
    text-align: right;
    padding-right: 10px;
  }

  .col-actions {
    text-align: right;
    color: transparent;
  }
}

table.table-invoices {
  .col-overdue_notices_count {
    padding-right: 10px;
  }

  .col-actions {
    width: 50px;
  }
}

table#index_table_payments,
table.table-payments {
  .col-type {
    text-align: right;
    width: 100px;
  }

  .col-invoice_id {
    text-align: right;
    width: 130px;
  }

  .col-amount {
    text-align: right;
    padding-right: 10px;
  }
}

table#index_table_activity_participations,
table.table-activity_participations {
  .col-description {
    width: 300px;
  }

  .col-participants,
  .col-participants_count {
    width: 40px;
    text-align: right;
  }

  .col-state {
    text-align: right;
    width: 80px;
  }

  .col-actions {
    min-width: 110px;
  }
}

table#index_table_members {
  .col-state {
    text-align: right;
    width: 80px;
  }
}

table#index_table_activities {
  .col-period {
    width: 130px;
    text-align: right;
  }

  .col-date {
    width: 170px;
    text-align: right;
  }
}

table#index_table_memberships,
table.table-memberships {
  .col-baskets_count {
    text-align: right;
  }

  .col-activity_participations_demanded {
    text-align: right;
  }

  .col-actions {
    min-width: 110px;
  }

  .col-ended_on,
  .col-started_on {
    text-align: right;
  }
}

table.totals tr:last-child {
  td {
    border: none;
  }

  td:last-child {
    width: 30%;
    border-top: 1px solid black;
  }
}

table.totals_2 {
  tr:last-child,
  tr:nth-last-child(3) {
    td {
      border: none;
    }

    td:last-child {
      width: 30%;
      border-top: 1px solid black;
    }
  }
}

#titlebar_right .action_item {
  margin-bottom: 3px !important;
}

.basket_complements,
.depots {
  li.check_boxes {
    margin-bottom: 25px;
  }

  ol.choices-group {
    max-width: 100%;
  }

  li.choice {
    float: left;
    width: 50%;
  }
}

#basket-complements-table {
  margin: 15px 0 25px;
}

.buttons.custom_sidebar {
  margin: 20px 0 0;
}

form input[type='time'] {
  appearance: none;
  -webkit-appearance: none;
  background-color: #ffffff;
  border: 1px solid rgba(204, 204, 204, 0.75);
  border-radius: 4px;
  outline: 0;
  padding: 10px 12px;
  transition: border-color 250ms, box-shadow 250ms;
  width: 100%;
  float: left !important;
  margin-left: 20px !important;
  width: 188px !important;
}

form input[type='time']:focus {
  border-color: rgba(126, 135, 78, 0.5);
  box-shadow: 0 0 5px rgba(126, 135, 78, 0.25);
}

form input[type='time']:focus ~ .inline-hints {
  color: #3f3f3f;
}

form.filter_form .check_boxes {
  fieldset.choices > label {
    margin: 5px 0;
    color: #3f3f3f;
    font-weight: normal;
    font-size: 14px;
    text-transform: none;

    input {
      margin-right: 5px;
    }
  }
}

.sidebar_section .panel_contents {
  .total {
    margin-bottom: 8px;
  }

  .totals {
    margin-top: 20px;
  }
}

.table_tools .scopes ul.table_tools_segmented_control {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.field_with_errors,
li.input.error {
  input,
  select,
  textarea {
    border: 2px solid $red !important;
  }
}

.panel em.show_more {
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
  display: block;
}

body.logged_out {
  background-color: white;

  #logo_wrapper {
    width: 100%;

    img {
      display: block;
      margin: 20px auto;
      @media screen and (min-width: 900px) {
        margin: 70px auto 0;
      }
    }
  }

  #login p {
    margin: 15px;

    &.inline-errors {
      display: inline-block;
      width: 100%;
      margin: 5px 20px 0 0;
      text-align: right;
    }
  }

  footer {
    flex: none;
    text-align: center;
    margin: auto auto 0;
    padding: 20px;
    color: #ddd;
    font-size: 16px;

    a {
      text-decoration: none;
    }

    ul.locales {
      margin: 60px 0 10px;
      padding: 0;

      li {
        color: #ddd;
        list-style-type: none;
        display: inline;

        &:not(:first-child):before {
          content: ' / ';
        }
      }
    }

    p {
      margin: 0;

      a {
        display: flex;
        align-items: center;
        margin: 0;
        font-size: 14px;
        line-height: 1;
        font-weight: normal;

        svg {
          margin: 5px;
          width: 20px;
          fill: #ddd;
        }

        &:hover {
          color: $primary-color;

          svg {
            fill: $primary-color;
          }
        }
      }
    }
  }
}