/* Sprockets requires
*= require trix
*/

.trix-content .attachment-gallery > action-text-attachment,
.trix-content .attachment-gallery > .attachment {
  flex: 1 0 33%;
  padding: 0 0.5em;
  max-width: 33%;
}

.trix-content .attachment-gallery.attachment-gallery--2 > action-text-attachment,
.trix-content .attachment-gallery.attachment-gallery--2 > .attachment, .trix-content .attachment-gallery.attachment-gallery--4 > action-text-attachment,
.trix-content .attachment-gallery.attachment-gallery--4 > .attachment {
  flex-basis: 50%;
  max-width: 50%;
}

.trix-content action-text-attachment .attachment {
  padding: 0 !important;
  max-width: 100% !important;
}

.trix-content img {
  max-height: 20rem;
  object-fit: contain;
}

.trix-content ul li {
  list-style: disc outside none !important;
  border: none !important;
  margin-left: 1.25em !important;
}

.trix-content ol li {
  list-style: decimal outside none !important;
  border: none !important;
  margin-left: 1.25em !important;
}

.trix-button--icon-heading-1 {
  display: none !important;
}
.trix-button--icon-bullet-list {
  border-left-width: 0 !important;
}

body.newsletters .trix-button--icon-heading-1 {
  display: block !important;
}
body.newsletters .trix-content h1 {
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  margin-bottom: 10px;
}
body.newsletters .trix-button--icon-bullet-list {
  border-left-width: 1px !important;
}

.trix-button--icon-quote {
  display: none !important;
}
.trix-button--icon-code {
  display: none !important;
}

trix-toolbar .trix-button--icon-attach::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' class='w-6 h-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M2.25 15.75l5.159-5.159a2.25 2.25 0 013.182 0l5.159 5.159m-1.5-1.5l1.409-1.409a2.25 2.25 0 013.182 0l2.909 2.909m-18 3.75h16.5a1.5 1.5 0 001.5-1.5V6a1.5 1.5 0 00-1.5-1.5H3.75A1.5 1.5 0 002.25 6v12a1.5 1.5 0 001.5 1.5zm10.5-11.25h.008v.008h-.008V8.25zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z' /%3E%3C/svg%3E%0A");
  top: 0%;
  bottom: 0%;
  opacity: 0.7;
}
trix-toolbar .trix-button-group {
  border-bottom-color: #bbb;
}
trix-toolbar .trix-button {
  border-bottom: none;
}

trix-editor {
  background-color: white;
}
trix-editor + p.inline-hints {
  margin-left: 0;
}
trix-editor figcaption {
  display: none;
}

trix-editor.long-text {
  min-height: 15rem;
}

trix-editor.singleline-text {
  min-height: 2rem;
}

.error trix-editor {
  border-width: 2px;
  border-color: #ff2600;
}

.action_text.error p.inline-errors {
  margin-left: 0;
}
