// Place all the styles related to the member controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'bourbon';
@import 'base/base';
@import 'neat';

$max-width: em(800);
$green: rgb(131, 157, 73);

body {
  @include outer-container;
  padding: 0 1em 0 1em;
}

section {
  @include outer-container;
  margin-top: 2em;
}

h2 {
  font-size: $base-font-size * 1.4;
}

p.table-empty {
  margin: 20px;
  font-style: italic;
}

p.label {
  margin: 10px 0 0 0;
  font-size: $base-font-size * 0.9;
  font-style: italic;
}

table {
  td {
    line-height: 1.2em;
    height: 2em;
  }
}

section.form {
  @include outer-container;
  margin: 0;
  height: 435px;

  .column-left, .column-right {
    @include span-columns(6);
    padding: 0;
    width: 360px;
  }

  .column-right {
    padding: 1em 0 0 1em;

    p {
      margin: 1.3em 0;
    }
  }

  .halfdays {
    label {
      font-weight: normal;
      display: inline-block;
      padding-left: 20px;
      text-indent: -20px;

      &.disabled {
        text-decoration: line-through;
      }
    }
    span {
      display: inline-block;
      text-indent: 0px;
    }
    input {
      // width: 13px;
      // height: 13px;
      padding: 0;
      margin: 0 0.375em 0 0;
      position: relative;
      // top: -1px;
      *overflow: hidden;
    }
  }

  input.participants_count {
    width: 50px;
  }
  label i {
    margin-left: 5px;
  }

  label.carpooling, label.carpooling_phone {
    font-weight: normal;
  }
  label.carpooling_phone {
    span {
      padding-top: 7px;
      float: left;
      width: 40px;
    }
  }
  input#carpooling_phone_text {
    float: left;
    width: 200px;
  }
}

input[type='submit'] {
  margin-top: 15px;
}

label.disabled {
  color: #aaa;
}

label.full span {
  text-decoration:line-through;
}
label.full::after {
  content: " Complet!";
}

section.past {
  th, h2 {
    color: #777;
  }
  td {
    color: #aaa;
  }
}

//The good stuff
.tooltip-toggle {
  cursor: pointer;
  position: relative;

  //Tooltip text container
  &::before {
    position: absolute;
    bottom: 20px;
    left: -250px;
    background-color: #2B222A;
    border-radius: 5px;
    color: #fff;
    content: attr(data-tooltip); //This pulls in the text from the element with the tooltip
    padding: 1rem;
    text-transform: none;
    transition: all 0.5s ease;
    width: 250px;
  }

  //Setting up the transition
  &::before,
  &::after {
    color: #efefef;
    font-size: $base-font-size * 0.9;
    opacity: 0;
    pointer-events: none;
    text-align: center;
  }

  //Triggering the transition
  &:hover::before,
  &:hover::after {
    opacity: 1;
    transition: all 0.75s ease;
  }
}


@import 'refills/navigation';
@import 'refills/table';
@import 'refills/flashes';
@import 'refills/labels';
@import 'refills/calendar';
