/* Sprockets requires
*= require_directory ./members
*= require_self
*/

:root {
  --gray-300: rgba(209, 213, 219, 1);
  --gray-700: rgba(55, 65, 81, 1);
  --gray-800: rgba(31, 41, 55, 1);
  --green-500: rgba(16, 185, 129, 1);
  --red-100: rgba(254, 226, 226, 1);
  --red-500: rgba(239, 68, 68, 1);
  --red-900: rgba(127, 29, 29, 1);
}

@media (prefers-color-scheme: dark) {
  header img {
    filter: invert(1) hue-rotate(180deg);
  }
}

.field_with_errors {
  width: 100%;
}

.field_with_errors input {
  border-width: 2px;
  border-color: var(--red-500);
}

.field_with_errors span.error {
  display: block;
  color: var(--red-500);
  border-radius: 0.375rem;
  padding: 0.5rem 1rem;
  margin-top: 0.25rem;
  background-color: var(--red-100);
}

@media (prefers-color-scheme: dark) {
  .field_with_errors span.error {
    background-color: var(--red-900);
  }
}

a:hover,
a:hover h2,
button:hover {
  color: var(--green-500) !important;
}

p a,
.trix a {
  text-decoration: underline;
}

a.button:hover {
  color: white !important;
}

li.active a,
li.active a h2 {
  color: var(--green-500) !important;
}

.disabled label,
.disabled span,
.disabled input,
.disabled div.text-sm,
input.string:disabled {
  color: var(--gray-300) !important;
  cursor: not-allowed !important;
  pointer-events: all !important;
  border-color: var(--gray-300) !important;
}

@media (prefers-color-scheme: dark) {
  .disabled label,
  .disabled span,
  .disabled input,
  .disabled div.text-sm,
  input.string:disabled {
    color: var(--gray-700) !important;
    border-color: var(--gray-800) !important;
  }
}
