@import 'normalize';
@import 'font-awesome';
@import 'members/variables';

body {
  width: 100%;
  // https://css-tricks.com/snippets/css/system-font-stack/
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

#body-wrapper {
  margin: 0 $base-spacing $base-spacing * 2 $base-spacing;
  max-width: 100%;

  @media screen and (min-width: 900px) {
    margin: 0 auto $base-spacing * 2 auto;
    width: 800px;
  }
}

a {
  color: $green;
  text-decoration: none;
  &:hover {
    color: $dark-green;
  }
}

p {
  line-height: $base-line-height;
  margin: 0 0 $base-spacing / 3 0;
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: $small-spacing / 2;
}

input {
  display: inline-block;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  font-weight: 400;
  font-size: $base-font-size;
  border-radius: $base-border-radius;
  padding: 10px;
  background-color: white;
  border: 1px solid $light-gray;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);

  width: 100%;
  @media screen and (min-width: 900px) {
    width: 60%;
  }
}

input[type='submit'] {
  color: white;
  border: solid 2px $green;
  padding: 9px;
  background-color: $green;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  font-weight: 600;

  &:hover {
    border-color: $dark-green;
    background-color: $dark-green;
  }
  @media screen and (min-width: 900px) {
    width: 150px;
  }
}

[type='checkbox'],
[type='radio'] {
  display: inline;
  width: 1em;
  margin: $small-spacing / 2 $small-spacing / 2 $small-spacing / 2 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 1.5em;
}

section {
  width: 100%;
  margin: $base-spacing * 2 0 0 0;
}

h2 {
  font-size: $base-font-size * 1.3;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing 0;
}

h4 {
  font-size: $base-font-size * 1.1;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing 0;
}

table {
  td {
    line-height: 1.2em;
    height: 2em;
  }
}

@import 'members/header';
@import 'members/flashes';
@import 'members/recover_token';
@import 'members/halfdays';
@import 'members/calendar';
@import 'members/tooltip';
@import 'members/labels';
