// Place all the styles related to the member controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'bourbon';
@import 'base/base';
@import 'neat';

$max-width: em(800);
$green: rgb(131, 157, 73);

body {
  @include outer-container;
  padding: 0 1em 0 1em;
}

section {
  @include outer-container;
  margin-top: 2em;
}

h2 {
  font-size: $base-font-size * 1.4;
}

p.table-empty {
  margin: 20px;
  font-style: italic;
}

p.label {
  margin: 10px 0 0 0;
  font-size: $base-font-size * 0.9;
  font-style: italic;
}

section.form {
  @include outer-container;
  margin: 0;
  height: 375px;

  .column-left, .column-right {
    @include span-columns(6);
    padding: 0;
    width: 360px;
  }

  .column-right {
    padding: .25em 0 0 1em;

    p {
      margin: 1.6em 0;
    }
  }

  input.participants_count {
    width: 50px;
  }
}

section.past {
  th, h2 {
    color: #777;
  }
  td {
    color: #aaa;
  }
}

@import 'refills/navigation';
@import 'refills/table';
@import 'refills/flashes';
@import 'refills/labels';
@import 'refills/calendar';
