@import 'normalize';

body {
  width: 100%;
  // https://css-tricks.com/snippets/css/system-font-stack/
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

header {
  $navigation-height: 60px;

  height: $navigation-height;
  width: 100%;
  margin: 1em 0;

  .logo {
    float: left;
    margin: 0 1em;

    img {
      height: $navigation-height;
    }
  }

  nav ul {
    margin: 0 0 0 1em;

    li {
      line-height: $navigation-height;
      display: inline-block;
      margin: 0 1em;
    }

    a {
      font-weight: 400;
      font-size: 1.5em;
      text-align: left;
      text-decoration: none;
      color: #888;

      &:hover {
        color: #444;
      }
    }

    li.active-nav-item a {
      color: #111;
    }
  }
}

main {
  width: 100%;

  #chart {
    width: 100%;
    height: calc(100% - 100px);
  }
}
