<div>
  <legend class="text-lg font-medium text-gray-700 dark:text-gray-300">
    <%= t("shop.title") %>
  </legend>
  <div class="space-y-6">
    <div class="font-normal text-gray-500 mt-2 text-justify space-y-2">
      <% unless Current.org.member_form_extra_text_only? %>
        <p><%= t(".text") %></p>
      <% end %>
      <% if Current.org.member_form_extra_text? %>
        <%= Current.org.member_form_extra_text %>
      <% end %>
    </div>
    <div>
      <div class="space-y-6">
        <%= f.input :shop_depot_id, as: :radio_buttons, collection: depots_collection(show_price: false), label: Depot.model_name.human, required: true, input_html: { class: "mr-4 flex-none size-6  focus:outline-hidden focus:ring-green-500 focus:border-green-500 cursor-pointer" }, item_label_class: "border-gray-200 dark:border-gray-800 border rounded-sm px-4 py-2 flex flex-row flex-nowrap items-center cursor-pointer", wrapper_class: "flex flex-col space-y-2", label_html: { class: "font-medium text-gray-700 dark:text-gray-300" } %>
      </div>
    </div>
  </div>
</div>
