<div id="<%= id %>" class="toolbar">
  <ul>
    <li><a data-wysihtml5-command="bold" title="Bold"><b>Gras</b></a></li>
    <li><a data-wysihtml5-command="italic" title="Italic"><i>Italique</i></a></li>
    <li><a data-wysihtml5-command="createLink" title="Link">Lien</a></li>
    <li><a data-wysihtml5-command="insertUnorderedList" title="Unordered list">Liste</a></li>
    <li><a data-wysihtml5-command="insertOrderedList" title="Ordered list">Liste numérotée</a></li>
  </ul>

  <div class="dialog" data-wysihtml5-dialog="createLink" style="display: none;">
    <div class="action-group">
      <a href="#" data-wysihtml5-dialog-action="save" class="button">OK</a>
      <a href="#" data-wysihtml5-dialog-action="cancel">Annuler</a>
    </div>
    <label>
      Lien:
      <input class="uploadable" type="text" data-wysihtml5-dialog-field="href" value="http://">
    </label>
    <div style="clear: both;"></div>
  </div>
</div>
