<%= link_to calendar_webcal_url, class: "flex items-center py-0.5 px-2 flex items-center border rounded-full border-gray-200 dark:border-gray-700 hover:border-green-300 hover:dark:border-green-700", title: t(".calendar_feed") do %>
  <%= icon("calendar-days", class: "size-4 mr-2") %>
  <span class="text-sm"><%= t(".subscribe") %></span>
<% end %>
