<%= link_to calendar_webcal_url, class: "btn btn-sm rounded-full font-normal", title: t(".calendar_feed") do %>
  <%= icon("calendar-days", class: "size-4 mr-2") %>
  <span class="text-sm"><%= t(".subscribe") %></span>
<% end %>
