<p>Utilisez le code suivant pour confirmer la suppression de votre compte.</p>

{% highlight %}
  <div style="text-align: center; font-size: 22px;"><strong>{{ code }}</strong></div>
{% endhighlight %}

<p>Ce code expire dans 15 minutes.</p>
