<p>Verwenden Sie den folgenden Code, um die Löschung Ihres Kontos zu bestätigen.</p>

{% highlight %}
  <div style="text-align: center; font-size: 22px;"><strong>{{ code }}</strong></div>
{% endhighlight %}

<p>Dieser Code läuft in 15 Minuten ab.</p>
