<p><%= t(".confirmation_paragraph") %></p>

{% highlight %}
  <div style="text-align: center; font-size: 22px;"><strong>{{ code }}</strong></div>
{% endhighlight %}

<p><%= t(".code_expires_paragraph") %></p>
