<p>Gebruik de volgende code om de verwijdering van uw account te bevestigen.</p>

{% highlight %}
  <div style="text-align: center; font-size: 22px;"><strong>{{ code }}</strong></div>
{% endhighlight %}

<p>Deze code verloopt over 15 minuten.</p>
