<p>Usa il seguente codice per confermare l'eliminazione del tuo account.</p>

{% highlight %}
  <div style="text-align: center; font-size: 22px;"><strong>{{ code }}</strong></div>
{% endhighlight %}

<p>Questo codice scade tra 15 minuti.</p>
