<p>Use the following code to confirm your account deletion.</p>

{% highlight %}
  <div style="text-align: center; font-size: 22px;"><strong>{{ code }}</strong></div>
{% endhighlight %}

<p>This code expires in 15 minutes.</p>
