form.new_absence {
  .field_with_errors input {
    border: 2px solid $red;
  }

  .input {
    margin: $small-spacing 0;
    @media screen and (min-width: 900px) {
      margin: $small-spacing $small-spacing $small-spacing 0;
      display: inline-block;
    }

    &.submit {
      margin: $base-spacing 0 0;
      @media screen and (min-width: 900px) {
        margin: $small-spacing;
      }
    }
  }
}

ul.absences {
  li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: $small-spacing / 2;

    &:nth-child(odd) {
      background-color: #f6f6f6;
    }

    span.text {
      order: 1;

      span.date {
        white-space: nowrap;
      }
    }

    span.action {
      order: 2;
      text-align: right;
      margin-left: $small-spacing / 2;
    }
  }
}