.activities-form {
  display: inline-block;
  width: 100%;
  min-height: 390px;

  .input {
    margin: $base-spacing 0 0;
  }

  ul.error_explanation {
    color: $red;
  }

  .activities {
    label {
      font-weight: normal;
      display: inline-block;

      &.disabled {
        text-decoration: line-through;
      }
    }

    input {
      margin-top: 0;
    }

    span.tooltip-toggle svg {
      margin: 0 0 -3px 2px;
    }

    span.icon svg {
      margin: 0 0 -2px 3px;
    }
  }

  input.participants_count {
    width: 60px;

    &:disabled {
      color: $medium-gray;
      cursor: not-allowed;
    }
  }

  label.carpooling {
    font-weight: normal;
    margin-top: $small-spacing;

    input:disabled {
      color: $medium-gray;
      cursor: not-allowed;
    }
  }

  label.disabled {
    color: $medium-gray;
  }

  label.full span {
    text-decoration: line-through;
  }

  label.full::after {
    content: ' Complet!';
  }

  .input.carpooling input {
    width: calc(100% - 22px);
    @media screen and (min-width: 900px) {
      width: 50%;
    }
  }
}

em.empty,
p.empty,
p.info {
  color: #999;
  font-style: italic;
}

p.info {
  margin-top: $base-spacing;
}

ul.activities {
  li {
    display: flex;
    // justify-content: space-between;
    flex-wrap: wrap;
    padding: $small-spacing / 2;

    &:nth-child(odd) {
      background-color: #f6f6f6;
    }

    span.date_and_period {
      text-decoration: inherit;
      order: 1;
      flex-basis: fit;
      // width: 100%;
      // margin-bottom: $small-spacing / 4;
      // @media screen and (min-width: 900px) {
      //   order: 1;
      //   flex-basis: 16em;
      //   margin-bottom: 0;
      // }
      span.date {
        display: inline-block;
        text-decoration: inherit;
        margin-right: 10px;
        width: 8em;
      }

      span.period {
        display: inline-block;
        text-decoration: inherit;
        margin-right: 10px;
        width: 7em;
      }
    }

    span.activity {
      order: 2;
      flex-basis: 100%;
      @media screen and (min-width: 900px) {
        order: 4;
      }
    }

    span.icons {
      order: 3;
      // flex-basis: 8em;
      // margin-left: $small-spacing / 2;
      @media screen and (min-width: 900px) {
        order: 2;
        // flex-basis: 4em;
        // margin: 0 $small-spacing / 2;
      }
      display: flex;

      &.one {
        flex-basis: 3em;
      }

      span.participant_count {
        flex-basis: 2.5em;
        min-width: 2.5em;
        display: flex;

        span.text {
          order: 1;
          text-align: right;
          flex-basis: 1em;
        }

        span.icon {
          order: 2;
          flex-basis: 2em;
          text-align: center;
          margin-left: 3px;

          svg {
            margin-bottom: -2px;
          }
        }
      }

      span.carpooling {
        display: inline-block;
        margin-left: $small-spacing;
        flex-basis: 1em;
        text-align: center;

        span.icon {
          flex-basis: 2em;
          text-align: center;

          svg {
            margin-bottom: -6px;
          }
        }
      }
    }

    span.rejected,
    span.validated {
      font-style: normal !important;
      display: inline-block;
      color: white;
      text-transform: uppercase;
      font-size: $base-font-size * 0.7;
      border: solid 1px;
      padding: $small-spacing / 3 $small-spacing;
      margin-left: $small-spacing;
      border-radius: 5px;
      position: relative;
      top: -2px;
    }

    span.validated {
      background-color: #80a432;
      border-color: #80a432;
    }

    span.rejected {
      background-color: #ff2600;
      border: solid 1px #ff2600;
    }

    span.action {
      text-decoration: inherit;
      order: 3;
      text-align: right;
      // flex-basis: fit;
      flex-grow: 2;
      margin-left: $small-spacing / 2;

      span.hidden_action {
        visibility: hidden;
      }
    }

    span.state {
      text-decoration: inherit;
      order: 4;
      text-align: right;
      flex-basis: 5.5em;
    }
  }

  li.show_all {
    background-color: white;

    a {
      width: 100%;
      text-align: center;
    }
  }
}
