.activities-form {
  display: inline-block;
  width: 100%;
  min-height: 390px;

  .column-left,
  .column-right {
    display: block;
    float: left;
    padding: 0;
    width: 100%;
  }

  $column-left-width: 308px;

  .column-left {
    margin: $base-spacing 0 0 -$base-spacing;

    @media screen and (min-width: 330px) {
      margin: 0;
    }

    @media screen and (min-width: 760px) {
      width: $column-left-width;
    }
  }

  .column-right {
    margin: $base-spacing 0 0 0;

    @media screen and (min-width: 760px) {
      width: calc(#{$body-width} - #{$column-left-width} - #{2 * $base-spacing});
      margin: -$base-spacing 0 0 2 * $base-spacing;
    }

    .input {
      margin: $base-spacing 0 0 0;
    }

    ul.error_explanation {
      color: $red;
    }

    .field_with_errors input {
      border: 2px solid $red;
    }
  }

  .activities {
    label {
      font-weight: normal;
      display: inline-block;

      &.disabled {
        text-decoration: line-through;
      }
    }
    input {
      margin-bottom: 0;
    }
  }

  input.participants_count {
    width: 60px;

    &:disabled {
      color: $medium-gray;
      cursor: not-allowed;
    }
  }

  label svg {
    margin: 0 0 -2px 5px;
  }

  label.carpooling {
    font-weight: normal;
    margin-top: $small-spacing;

    input:disabled {
      color: $medium-gray;
      cursor: not-allowed;
    }
  }

  label.disabled {
    color: $medium-gray;
  }

  label.full span {
    text-decoration: line-through;
  }

  label.full::after {
    content: ' Complet!';
  }
}

em.empty,
p.empty,
p.info {
  color: #999;
  font-style: italic;
}

p.info {
  margin-top: $small-spacing;
}
