body {
  display: flex;
  flex-direction: column;
  height: 100vh;

  #body-wrapper {
    flex: 1 0 auto;
  }
}

header {
  flex: none;
  display: inline-block;
  width: 100%;
  margin-top: $base-spacing;

  .logo {
    float: left;

    img {
      height: 100px;
    }
  }

  .links {
    float: right;
    width: 150px;

    svg {
      margin-left: $small-spacing;
      margin-bottom: -2px;
    }

    a {
      color: $base-font-color;
      width: 100%;
      float: right;
      text-align: right;
      margin-bottom: 5px;

      &:hover {
        color: $dark-green;
      }
    }

    .logout a {
      margin-bottom: $small-spacing;
    }
  }
}

footer {
  flex: none;
  text-align: center;
  margin: $base-spacing * 4 auto 0 auto;
  padding-bottom: $base-spacing;

  a,
  li,
  p {
    color: $light-gray;
    margin: 0;
  }

  p.acp-admin {
    margin-top: $base-spacing;
    display: inline-block;

    a {
      display: flex;
      align-items: center;
      font-size: 14px;
      line-height: 1;
      font-weight: normal;

      svg {
        margin: 5px;
        width: 20px;
        fill: $light-gray;
      }

      &:hover svg {
        fill: $dark-green;
      }
    }
  }

  ul.locales li {
    list-style-type: none;
    display: inline;

    &:not(:first-child):before {
      content: ' / ';
    }
  }
}