.new-session {
  input {
    margin: $small-spacing 0 0;
  }

  label {
    margin: $base-spacing 0 0;
  }

  .field_with_errors {
    display: inline;

    input {
      border: 2px solid $red;
    }
  }

  p.inline-errors {
    color: red;
    font-weight: 400;
    margin: $small-spacing 0 0 0;
  }
}
