name: Locales Checks

on: push

jobs:
  locales:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Install libvips and pdftoppm
      run: |
        sudo apt-get update -qq -o Acquire::Retries=3
        sudo apt-get install -y --fix-missing -qq -o Acquire::Retries=3 libvips poppler-utils

    - name: Install Ruby and run Bundler install with cache
      uses: ruby/setup-ruby@v1
      with:
        bundler-cache: true

    - name: Missing
      run: |
        output=$(bin/rails locales:missing)
        if [ -n "$output" ]; then
          echo "Missing locales found:"
          echo "$output"
          exit 1
        fi

    - name: Verify
      run: |
        expected_output="Locales passed format verification."
        output=$(bin/rails locales:verify)
        if [ "$output" != "$expected_output" ]; then
          echo "Locales format is invalid."
          exit 1
        fi
