name: Specs

on: push

jobs:
  specs:
    runs-on: ubuntu-24.04

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Install libvips and pdftoppm
      run: |
        sudo apt-get update -qq -o Acquire::Retries=3
        sudo apt-get install -y --fix-missing -qq -o Acquire::Retries=3 libvips poppler-utils

    - name: Install Ruby and run Bundler install with cache
      uses: ruby/setup-ruby@v1
      with:
        bundler-cache: true

    - name: Set timezone
      uses: szenius/set-timezone@v2.0
      with:
        timezoneLinux: Europe/Zurich

    - name: Run specs
      env:
        RAILS_ENV: test
        RAILS_MASTER_KEY: ${{ secrets.RAILS_MASTER_KEY }}
      run: |
        bin/rails db:setup
        bin/rails test:prepare
        bin/rspec

