name: Tests

on: push

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install APT Packages
        uses: awalsh128/cache-apt-pkgs-action@v1
        with:
          packages: libvips poppler-utils

      - name: Ruby Setup
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Set timezone
        uses: szenius/set-timezone@v2.0
        with:
          timezoneLinux: Europe/Zurich

      - name: Run test:all
        env:
          RAILS_ENV: test
          RAILS_MASTER_KEY: ${{ secrets.RAILS_MASTER_KEY }}
        run: |
          bin/rails test:all
