doctype html
html lang=I18n.locale
  head
    title = html_head_site_title
    = render "active_admin/html_head"

  body class="h-screen flex flex-col dark:bg-black text-gray-950 dark:text-gray-100 antialiased"
    div class="flex-grow flex flex-col items-center align-middle justify-center md:w-2/5 mx-auto px-2"
      div class="mt-12 md:mt-24 mb-12 w-auto"
        = image_tag(acp_logo_url, size: '500', alt: "#{Current.acp.name} Logo", class: "logo h-40 w-40 md:h-52 md:w-52")
      = render "active_admin/flash_messages"
      div class="w-full px-2 md:px-5"
        = yield

    footer class="mt-24 mx-8 pt-9 pb-8 flex flex-col items-center "
      - if Current.acp.languages.many?
        div class="pt-8"
          ul class="flex flex-row w-full items-center justify-center"
            - Current.acp.languages.each do |locale|
              li class="[&:not(:first-child)]:before:content-['/'] uppercase text-gray-300 dark:text-gray-700"
                = link_to locale, url_for(locale: locale), title: t("languages.#{locale}"), onclick: 'Turbolinks.clearCache()', class: 'px-2 text-gray-400 dark:text-gray-600'

      div class="pt-8 flex justify-center gap-2"
        = link_to 'https://csa-admin.org', class: "inline-flex items-center text-sm py-1 px-2 text-gray-300 dark:text-gray-700 hover:text-green-600 hover:text-green-600 dark:hover:text-green-500 hover:bg-gray-100 dark:hover:bg-gray-700 font-medium focus:outline-none rounded-md no-underline" do
          = inline_svg_tag('admin/logo.svg', size: '16', class: 'me-2 fill-current')
          = 'CSA Admin'
